<ul class="icons">
  <li class="ion-ionic"></li>
  <li class="ion-arrow-up-a"></li>
  <li class="ion-arrow-right-a"></li>
  <li class="ion-arrow-down-a"></li>
  <li class="ion-arrow-left-a"></li>
  <li class="ion-arrow-up-b"></li>
  <li class="ion-arrow-right-b"></li>
  <li class="ion-arrow-down-b"></li>
  <li class="ion-arrow-left-b"></li>
  <li class="ion-arrow-up-c"></li>
  <li class="ion-arrow-right-c"></li>
  <li class="ion-arrow-down-c"></li>
  <li class="ion-arrow-left-c"></li>
  <li class="ion-arrow-return-right"></li>
  <li class="ion-arrow-return-left"></li>
  <li class="ion-arrow-swap"></li>
  <li class="ion-arrow-shrink"></li>
  <li class="ion-arrow-expand"></li>
  <li class="ion-arrow-move"></li>
  <li class="ion-arrow-resize"></li>
  <li class="ion-chevron-up"></li>
  <li class="ion-chevron-right"></li>
  <li class="ion-chevron-down"></li>
  <li class="ion-chevron-left"></li>
  <li class="ion-navicon-round"></li>
  <li class="ion-navicon"></li>
  <li class="ion-drag"></li>
  <li class="ion-log-in"></li>
  <li class="ion-log-out"></li>
  <li class="ion-checkmark-round"></li>
  <li class="ion-checkmark"></li>
  <li class="ion-checkmark-circled"></li>
  <li class="ion-close-round"></li>
  <li class="ion-close"></li>
  <li class="ion-close-circled"></li>
  <li class="ion-plus-round"></li>
  <li class="ion-plus"></li>
  <li class="ion-plus-circled"></li>
  <li class="ion-minus-round"></li>
  <li class="ion-minus"></li>
  <li class="ion-minus-circled"></li>
  <li class="ion-information"></li>
  <li class="ion-information-circled"></li>
  <li class="ion-help"></li>
  <li class="ion-help-circled"></li>
  <li class="ion-backspace-outline"></li>
  <li class="ion-backspace"></li>
  <li class="ion-help-buoy"></li>
  <li class="ion-asterisk"></li>
  <li class="ion-alert"></li>
  <li class="ion-alert-circled"></li>
  <li class="ion-refresh"></li>
  <li class="ion-loop"></li>
  <li class="ion-shuffle"></li>
  <li class="ion-home"></li>
  <li class="ion-search"></li>
  <li class="ion-flag"></li>
  <li class="ion-star"></li>
  <li class="ion-heart"></li>
  <li class="ion-heart-broken"></li>
  <li class="ion-gear-a"></li>
  <li class="ion-gear-b"></li>
  <li class="ion-toggle-filled"></li>
  <li class="ion-toggle"></li>
  <li class="ion-settings"></li>
  <li class="ion-wrench"></li>
  <li class="ion-hammer"></li>
  <li class="ion-edit"></li>
  <li class="ion-trash-a"></li>
  <li class="ion-trash-b"></li>
  <li class="ion-document"></li>
  <li class="ion-document-text"></li>
  <li class="ion-clipboard"></li>
  <li class="ion-scissors"></li>
  <li class="ion-funnel"></li>
  <li class="ion-bookmark"></li>
  <li class="ion-email"></li>
  <li class="ion-email-unread"></li>
  <li class="ion-folder"></li>
  <li class="ion-filing"></li>
  <li class="ion-archive"></li>
  <li class="ion-reply"></li>
  <li class="ion-reply-all"></li>
  <li class="ion-forward"></li>
  <li class="ion-share"></li>
  <li class="ion-paper-airplane"></li>
  <li class="ion-link"></li>
  <li class="ion-paperclip"></li>
  <li class="ion-compose"></li>
  <li class="ion-briefcase"></li>
  <li class="ion-medkit"></li>
  <li class="ion-at"></li>
  <li class="ion-pound"></li>
  <li class="ion-quote"></li>
  <li class="ion-cloud"></li>
  <li class="ion-upload"></li>
  <li class="ion-more"></li>
  <li class="ion-grid"></li>
  <li class="ion-calendar"></li>
  <li class="ion-clock"></li>
  <li class="ion-compass"></li>
  <li class="ion-pinpoint"></li>
  <li class="ion-pin"></li>
  <li class="ion-navigate"></li>
  <li class="ion-location"></li>
  <li class="ion-map"></li>
  <li class="ion-lock-combination"></li>
  <li class="ion-locked"></li>
  <li class="ion-unlocked"></li>
  <li class="ion-key"></li>
  <li class="ion-arrow-graph-up-right"></li>
  <li class="ion-arrow-graph-down-right"></li>
  <li class="ion-arrow-graph-up-left"></li>
  <li class="ion-arrow-graph-down-left"></li>
  <li class="ion-stats-bars"></li>
  <li class="ion-connection-bars"></li>
  <li class="ion-pie-graph"></li>
  <li class="ion-chatbubble"></li>
  <li class="ion-chatbubble-working"></li>
  <li class="ion-chatbubbles"></li>
  <li class="ion-chatbox"></li>
  <li class="ion-chatbox-working"></li>
  <li class="ion-chatboxes"></li>
  <li class="ion-person"></li>
  <li class="ion-person-add"></li>
  <li class="ion-person-stalker"></li>
  <li class="ion-woman"></li>
  <li class="ion-man"></li>
  <li class="ion-female"></li>
  <li class="ion-male"></li>
  <li class="ion-transgender"></li>
  <li class="ion-fork"></li>
  <li class="ion-knife"></li>
  <li class="ion-spoon"></li>
  <li class="ion-soup-can-outline"></li>
  <li class="ion-soup-can"></li>
  <li class="ion-beer"></li>
  <li class="ion-wineglass"></li>
  <li class="ion-coffee"></li>
  <li class="ion-icecream"></li>
  <li class="ion-pizza"></li>
  <li class="ion-power"></li>
  <li class="ion-mouse"></li>
  <li class="ion-battery-full"></li>
  <li class="ion-battery-half"></li>
  <li class="ion-battery-low"></li>
  <li class="ion-battery-empty"></li>
  <li class="ion-battery-charging"></li>
  <li class="ion-wifi"></li>
  <li class="ion-bluetooth"></li>
  <li class="ion-calculator"></li>
  <li class="ion-camera"></li>
  <li class="ion-eye"></li>
  <li class="ion-eye-disabled"></li>
  <li class="ion-flash"></li>
  <li class="ion-flash-off"></li>
  <li class="ion-qr-scanner"></li>
  <li class="ion-image"></li>
  <li class="ion-images"></li>
  <li class="ion-wand"></li>
  <li class="ion-contrast"></li>
  <li class="ion-aperture"></li>
  <li class="ion-crop"></li>
  <li class="ion-easel"></li>
  <li class="ion-paintbrush"></li>
  <li class="ion-paintbucket"></li>
  <li class="ion-monitor"></li>
  <li class="ion-laptop"></li>
  <li class="ion-ipad"></li>
  <li class="ion-iphone"></li>
  <li class="ion-ipod"></li>
  <li class="ion-printer"></li>
  <li class="ion-usb"></li>
  <li class="ion-outlet"></li>
  <li class="ion-bug"></li>
  <li class="ion-code"></li>
  <li class="ion-code-working"></li>
  <li class="ion-code-download"></li>
  <li class="ion-fork-repo"></li>
  <li class="ion-network"></li>
  <li class="ion-pull-request"></li>
  <li class="ion-merge"></li>
  <li class="ion-xbox"></li>
  <li class="ion-playstation"></li>
  <li class="ion-steam"></li>
  <li class="ion-closed-captioning"></li>
  <li class="ion-videocamera"></li>
  <li class="ion-film-marker"></li>
  <li class="ion-disc"></li>
  <li class="ion-headphone"></li>
  <li class="ion-music-note"></li>
  <li class="ion-radio-waves"></li>
  <li class="ion-speakerphone"></li>
  <li class="ion-mic-a"></li>
  <li class="ion-mic-b"></li>
  <li class="ion-mic-c"></li>
  <li class="ion-volume-high"></li>
  <li class="ion-volume-medium"></li>
  <li class="ion-volume-low"></li>
  <li class="ion-volume-mute"></li>
  <li class="ion-levels"></li>
  <li class="ion-play"></li>
  <li class="ion-pause"></li>
  <li class="ion-stop"></li>
  <li class="ion-record"></li>
  <li class="ion-skip-forward"></li>
  <li class="ion-skip-backward"></li>
  <li class="ion-eject"></li>
  <li class="ion-bag"></li>
  <li class="ion-card"></li>
  <li class="ion-cash"></li>
  <li class="ion-pricetag"></li>
  <li class="ion-pricetags"></li>
  <li class="ion-thumbsup"></li>
  <li class="ion-thumbsdown"></li>
  <li class="ion-happy-outline"></li>
  <li class="ion-happy"></li>
  <li class="ion-sad-outline"></li>
  <li class="ion-sad"></li>
  <li class="ion-bowtie"></li>
  <li class="ion-tshirt-outline"></li>
  <li class="ion-tshirt"></li>
  <li class="ion-trophy"></li>
  <li class="ion-podium"></li>
  <li class="ion-ribbon-a"></li>
  <li class="ion-ribbon-b"></li>
  <li class="ion-university"></li>
  <li class="ion-magnet"></li>
  <li class="ion-beaker"></li>
  <li class="ion-erlenmeyer-flask"></li>
  <li class="ion-egg"></li>
  <li class="ion-earth"></li>
  <li class="ion-planet"></li>
  <li class="ion-lightbulb"></li>
  <li class="ion-cube"></li>
  <li class="ion-leaf"></li>
  <li class="ion-waterdrop"></li>
  <li class="ion-flame"></li>
  <li class="ion-fireball"></li>
  <li class="ion-bonfire"></li>
  <li class="ion-umbrella"></li>
  <li class="ion-nuclear"></li>
  <li class="ion-no-smoking"></li>
  <li class="ion-thermometer"></li>
  <li class="ion-speedometer"></li>
  <li class="ion-model-s"></li>
  <li class="ion-plane"></li>
  <li class="ion-jet"></li>
  <li class="ion-load-a"></li>
  <li class="ion-load-b"></li>
  <li class="ion-load-c"></li>
  <li class="ion-load-d"></li>
  <li class="ion-ios-ionic-outline"></li>
  <li class="ion-ios-arrow-back"></li>
  <li class="ion-ios-arrow-forward"></li>
  <li class="ion-ios-arrow-up"></li>
  <li class="ion-ios-arrow-right"></li>
  <li class="ion-ios-arrow-down"></li>
  <li class="ion-ios-arrow-left"></li>
  <li class="ion-ios-arrow-thin-up"></li>
  <li class="ion-ios-arrow-thin-right"></li>
  <li class="ion-ios-arrow-thin-down"></li>
  <li class="ion-ios-arrow-thin-left"></li>
  <li class="ion-ios-circle-filled"></li>
  <li class="ion-ios-circle-outline"></li>
  <li class="ion-ios-checkmark-empty"></li>
  <li class="ion-ios-checkmark-outline"></li>
  <li class="ion-ios-checkmark"></li>
  <li class="ion-ios-plus-empty"></li>
  <li class="ion-ios-plus-outline"></li>
  <li class="ion-ios-plus"></li>
  <li class="ion-ios-close-empty"></li>
  <li class="ion-ios-close-outline"></li>
  <li class="ion-ios-close"></li>
  <li class="ion-ios-minus-empty"></li>
  <li class="ion-ios-minus-outline"></li>
  <li class="ion-ios-minus"></li>
  <li class="ion-ios-information-empty"></li>
  <li class="ion-ios-information-outline"></li>
  <li class="ion-ios-information"></li>
  <li class="ion-ios-help-empty"></li>
  <li class="ion-ios-help-outline"></li>
  <li class="ion-ios-help"></li>
  <li class="ion-ios-search"></li>
  <li class="ion-ios-search-strong"></li>
  <li class="ion-ios-star"></li>
  <li class="ion-ios-star-half"></li>
  <li class="ion-ios-star-outline"></li>
  <li class="ion-ios-heart"></li>
  <li class="ion-ios-heart-outline"></li>
  <li class="ion-ios-more"></li>
  <li class="ion-ios-more-outline"></li>
  <li class="ion-ios-home"></li>
  <li class="ion-ios-home-outline"></li>
  <li class="ion-ios-cloud"></li>
  <li class="ion-ios-cloud-outline"></li>
  <li class="ion-ios-cloud-upload"></li>
  <li class="ion-ios-cloud-upload-outline"></li>
  <li class="ion-ios-cloud-download"></li>
  <li class="ion-ios-cloud-download-outline"></li>
  <li class="ion-ios-upload"></li>
  <li class="ion-ios-upload-outline"></li>
  <li class="ion-ios-download"></li>
  <li class="ion-ios-download-outline"></li>
  <li class="ion-ios-refresh"></li>
  <li class="ion-ios-refresh-outline"></li>
  <li class="ion-ios-refresh-empty"></li>
  <li class="ion-ios-reload"></li>
  <li class="ion-ios-loop-strong"></li>
  <li class="ion-ios-loop"></li>
  <li class="ion-ios-bookmarks"></li>
  <li class="ion-ios-bookmarks-outline"></li>
  <li class="ion-ios-book"></li>
  <li class="ion-ios-book-outline"></li>
  <li class="ion-ios-flag"></li>
  <li class="ion-ios-flag-outline"></li>
  <li class="ion-ios-glasses"></li>
  <li class="ion-ios-glasses-outline"></li>
  <li class="ion-ios-browsers"></li>
  <li class="ion-ios-browsers-outline"></li>
  <li class="ion-ios-at"></li>
  <li class="ion-ios-at-outline"></li>
  <li class="ion-ios-pricetag"></li>
  <li class="ion-ios-pricetag-outline"></li>
  <li class="ion-ios-pricetags"></li>
  <li class="ion-ios-pricetags-outline"></li>
  <li class="ion-ios-cart"></li>
  <li class="ion-ios-cart-outline"></li>
  <li class="ion-ios-chatboxes"></li>
  <li class="ion-ios-chatboxes-outline"></li>
  <li class="ion-ios-chatbubble"></li>
  <li class="ion-ios-chatbubble-outline"></li>
  <li class="ion-ios-cog"></li>
  <li class="ion-ios-cog-outline"></li>
  <li class="ion-ios-gear"></li>
  <li class="ion-ios-gear-outline"></li>
  <li class="ion-ios-settings"></li>
  <li class="ion-ios-settings-strong"></li>
  <li class="ion-ios-toggle"></li>
  <li class="ion-ios-toggle-outline"></li>
  <li class="ion-ios-analytics"></li>
  <li class="ion-ios-analytics-outline"></li>
  <li class="ion-ios-pie"></li>
  <li class="ion-ios-pie-outline"></li>
  <li class="ion-ios-pulse"></li>
  <li class="ion-ios-pulse-strong"></li>
  <li class="ion-ios-filing"></li>
  <li class="ion-ios-filing-outline"></li>
  <li class="ion-ios-box"></li>
  <li class="ion-ios-box-outline"></li>
  <li class="ion-ios-compose"></li>
  <li class="ion-ios-compose-outline"></li>
  <li class="ion-ios-trash"></li>
  <li class="ion-ios-trash-outline"></li>
  <li class="ion-ios-copy"></li>
  <li class="ion-ios-copy-outline"></li>
  <li class="ion-ios-email"></li>
  <li class="ion-ios-email-outline"></li>
  <li class="ion-ios-undo"></li>
  <li class="ion-ios-undo-outline"></li>
  <li class="ion-ios-redo"></li>
  <li class="ion-ios-redo-outline"></li>
  <li class="ion-ios-paperplane"></li>
  <li class="ion-ios-paperplane-outline"></li>
  <li class="ion-ios-folder"></li>
  <li class="ion-ios-folder-outline"></li>
  <li class="ion-ios-paper"></li>
  <li class="ion-ios-paper-outline"></li>
  <li class="ion-ios-list"></li>
  <li class="ion-ios-list-outline"></li>
  <li class="ion-ios-world"></li>
  <li class="ion-ios-world-outline"></li>
  <li class="ion-ios-alarm"></li>
  <li class="ion-ios-alarm-outline"></li>
  <li class="ion-ios-speedometer"></li>
  <li class="ion-ios-speedometer-outline"></li>
  <li class="ion-ios-stopwatch"></li>
  <li class="ion-ios-stopwatch-outline"></li>
  <li class="ion-ios-timer"></li>
  <li class="ion-ios-timer-outline"></li>
  <li class="ion-ios-clock"></li>
  <li class="ion-ios-clock-outline"></li>
  <li class="ion-ios-time"></li>
  <li class="ion-ios-time-outline"></li>
  <li class="ion-ios-calendar"></li>
  <li class="ion-ios-calendar-outline"></li>
  <li class="ion-ios-photos"></li>
  <li class="ion-ios-photos-outline"></li>
  <li class="ion-ios-albums"></li>
  <li class="ion-ios-albums-outline"></li>
  <li class="ion-ios-camera"></li>
  <li class="ion-ios-camera-outline"></li>
  <li class="ion-ios-reverse-camera"></li>
  <li class="ion-ios-reverse-camera-outline"></li>
  <li class="ion-ios-eye"></li>
  <li class="ion-ios-eye-outline"></li>
  <li class="ion-ios-bolt"></li>
  <li class="ion-ios-bolt-outline"></li>
  <li class="ion-ios-color-wand"></li>
  <li class="ion-ios-color-wand-outline"></li>
  <li class="ion-ios-color-filter"></li>
  <li class="ion-ios-color-filter-outline"></li>
  <li class="ion-ios-grid-view"></li>
  <li class="ion-ios-grid-view-outline"></li>
  <li class="ion-ios-crop-strong"></li>
  <li class="ion-ios-crop"></li>
  <li class="ion-ios-barcode"></li>
  <li class="ion-ios-barcode-outline"></li>
  <li class="ion-ios-briefcase"></li>
  <li class="ion-ios-briefcase-outline"></li>
  <li class="ion-ios-medkit"></li>
  <li class="ion-ios-medkit-outline"></li>
  <li class="ion-ios-medical"></li>
  <li class="ion-ios-medical-outline"></li>
  <li class="ion-ios-infinite"></li>
  <li class="ion-ios-infinite-outline"></li>
  <li class="ion-ios-calculator"></li>
  <li class="ion-ios-calculator-outline"></li>
  <li class="ion-ios-keypad"></li>
  <li class="ion-ios-keypad-outline"></li>
  <li class="ion-ios-telephone"></li>
  <li class="ion-ios-telephone-outline"></li>
  <li class="ion-ios-drag"></li>
  <li class="ion-ios-location"></li>
  <li class="ion-ios-location-outline"></li>
  <li class="ion-ios-navigate"></li>
  <li class="ion-ios-navigate-outline"></li>
  <li class="ion-ios-locked"></li>
  <li class="ion-ios-locked-outline"></li>
  <li class="ion-ios-unlocked"></li>
  <li class="ion-ios-unlocked-outline"></li>
  <li class="ion-ios-monitor"></li>
  <li class="ion-ios-monitor-outline"></li>
  <li class="ion-ios-printer"></li>
  <li class="ion-ios-printer-outline"></li>
  <li class="ion-ios-game-controller-a"></li>
  <li class="ion-ios-game-controller-a-outline"></li>
  <li class="ion-ios-game-controller-b"></li>
  <li class="ion-ios-game-controller-b-outline"></li>
  <li class="ion-ios-americanfootball"></li>
  <li class="ion-ios-americanfootball-outline"></li>
  <li class="ion-ios-baseball"></li>
  <li class="ion-ios-baseball-outline"></li>
  <li class="ion-ios-basketball"></li>
  <li class="ion-ios-basketball-outline"></li>
  <li class="ion-ios-tennisball"></li>
  <li class="ion-ios-tennisball-outline"></li>
  <li class="ion-ios-football"></li>
  <li class="ion-ios-football-outline"></li>
  <li class="ion-ios-body"></li>
  <li class="ion-ios-body-outline"></li>
  <li class="ion-ios-person"></li>
  <li class="ion-ios-person-outline"></li>
  <li class="ion-ios-personadd"></li>
  <li class="ion-ios-personadd-outline"></li>
  <li class="ion-ios-people"></li>
  <li class="ion-ios-people-outline"></li>
  <li class="ion-ios-musical-notes"></li>
  <li class="ion-ios-musical-note"></li>
  <li class="ion-ios-bell"></li>
  <li class="ion-ios-bell-outline"></li>
  <li class="ion-ios-mic"></li>
  <li class="ion-ios-mic-outline"></li>
  <li class="ion-ios-mic-off"></li>
  <li class="ion-ios-volume-high"></li>
  <li class="ion-ios-volume-low"></li>
  <li class="ion-ios-play"></li>
  <li class="ion-ios-play-outline"></li>
  <li class="ion-ios-pause"></li>
  <li class="ion-ios-pause-outline"></li>
  <li class="ion-ios-recording"></li>
  <li class="ion-ios-recording-outline"></li>
  <li class="ion-ios-fastforward"></li>
  <li class="ion-ios-fastforward-outline"></li>
  <li class="ion-ios-rewind"></li>
  <li class="ion-ios-rewind-outline"></li>
  <li class="ion-ios-skipbackward"></li>
  <li class="ion-ios-skipbackward-outline"></li>
  <li class="ion-ios-skipforward"></li>
  <li class="ion-ios-skipforward-outline"></li>
  <li class="ion-ios-shuffle-strong"></li>
  <li class="ion-ios-shuffle"></li>
  <li class="ion-ios-videocam"></li>
  <li class="ion-ios-videocam-outline"></li>
  <li class="ion-ios-film"></li>
  <li class="ion-ios-film-outline"></li>
  <li class="ion-ios-flask"></li>
  <li class="ion-ios-flask-outline"></li>
  <li class="ion-ios-lightbulb"></li>
  <li class="ion-ios-lightbulb-outline"></li>
  <li class="ion-ios-wineglass"></li>
  <li class="ion-ios-wineglass-outline"></li>
  <li class="ion-ios-pint"></li>
  <li class="ion-ios-pint-outline"></li>
  <li class="ion-ios-nutrition"></li>
  <li class="ion-ios-nutrition-outline"></li>
  <li class="ion-ios-flower"></li>
  <li class="ion-ios-flower-outline"></li>
  <li class="ion-ios-rose"></li>
  <li class="ion-ios-rose-outline"></li>
  <li class="ion-ios-paw"></li>
  <li class="ion-ios-paw-outline"></li>
  <li class="ion-ios-flame"></li>
  <li class="ion-ios-flame-outline"></li>
  <li class="ion-ios-sunny"></li>
  <li class="ion-ios-sunny-outline"></li>
  <li class="ion-ios-partlysunny"></li>
  <li class="ion-ios-partlysunny-outline"></li>
  <li class="ion-ios-cloudy"></li>
  <li class="ion-ios-cloudy-outline"></li>
  <li class="ion-ios-rainy"></li>
  <li class="ion-ios-rainy-outline"></li>
  <li class="ion-ios-thunderstorm"></li>
  <li class="ion-ios-thunderstorm-outline"></li>
  <li class="ion-ios-snowy"></li>
  <li class="ion-ios-moon"></li>
  <li class="ion-ios-moon-outline"></li>
  <li class="ion-ios-cloudy-night"></li>
  <li class="ion-ios-cloudy-night-outline"></li>
  <li class="ion-android-arrow-up"></li>
  <li class="ion-android-arrow-forward"></li>
  <li class="ion-android-arrow-down"></li>
  <li class="ion-android-arrow-back"></li>
  <li class="ion-android-arrow-dropup"></li>
  <li class="ion-android-arrow-dropup-circle"></li>
  <li class="ion-android-arrow-dropright"></li>
  <li class="ion-android-arrow-dropright-circle"></li>
  <li class="ion-android-arrow-dropdown"></li>
  <li class="ion-android-arrow-dropdown-circle"></li>
  <li class="ion-android-arrow-dropleft"></li>
  <li class="ion-android-arrow-dropleft-circle"></li>
  <li class="ion-android-add"></li>
  <li class="ion-android-add-circle"></li>
  <li class="ion-android-remove"></li>
  <li class="ion-android-remove-circle"></li>
  <li class="ion-android-close"></li>
  <li class="ion-android-cancel"></li>
  <li class="ion-android-radio-button-off"></li>
  <li class="ion-android-radio-button-on"></li>
  <li class="ion-android-checkmark-circle"></li>
  <li class="ion-android-checkbox-outline-blank"></li>
  <li class="ion-android-checkbox-outline"></li>
  <li class="ion-android-checkbox-blank"></li>
  <li class="ion-android-checkbox"></li>
  <li class="ion-android-done"></li>
  <li class="ion-android-done-all"></li>
  <li class="ion-android-menu"></li>
  <li class="ion-android-more-horizontal"></li>
  <li class="ion-android-more-vertical"></li>
  <li class="ion-android-refresh"></li>
  <li class="ion-android-sync"></li>
  <li class="ion-android-wifi"></li>
  <li class="ion-android-call"></li>
  <li class="ion-android-apps"></li>
  <li class="ion-android-settings"></li>
  <li class="ion-android-options"></li>
  <li class="ion-android-funnel"></li>
  <li class="ion-android-search"></li>
  <li class="ion-android-home"></li>
  <li class="ion-android-cloud-outline"></li>
  <li class="ion-android-cloud"></li>
  <li class="ion-android-download"></li>
  <li class="ion-android-upload"></li>
  <li class="ion-android-cloud-done"></li>
  <li class="ion-android-cloud-circle"></li>
  <li class="ion-android-favorite-outline"></li>
  <li class="ion-android-favorite"></li>
  <li class="ion-android-star-outline"></li>
  <li class="ion-android-star-half"></li>
  <li class="ion-android-star"></li>
  <li class="ion-android-calendar"></li>
  <li class="ion-android-alarm-clock"></li>
  <li class="ion-android-time"></li>
  <li class="ion-android-stopwatch"></li>
  <li class="ion-android-watch"></li>
  <li class="ion-android-locate"></li>
  <li class="ion-android-navigate"></li>
  <li class="ion-android-pin"></li>
  <li class="ion-android-compass"></li>
  <li class="ion-android-map"></li>
  <li class="ion-android-walk"></li>
  <li class="ion-android-bicycle"></li>
  <li class="ion-android-car"></li>
  <li class="ion-android-bus"></li>
  <li class="ion-android-subway"></li>
  <li class="ion-android-train"></li>
  <li class="ion-android-boat"></li>
  <li class="ion-android-plane"></li>
  <li class="ion-android-restaurant"></li>
  <li class="ion-android-bar"></li>
  <li class="ion-android-cart"></li>
  <li class="ion-android-camera"></li>
  <li class="ion-android-image"></li>
  <li class="ion-android-film"></li>
  <li class="ion-android-color-palette"></li>
  <li class="ion-android-create"></li>
  <li class="ion-android-mail"></li>
  <li class="ion-android-drafts"></li>
  <li class="ion-android-send"></li>
  <li class="ion-android-archive"></li>
  <li class="ion-android-delete"></li>
  <li class="ion-android-attach"></li>
  <li class="ion-android-share"></li>
  <li class="ion-android-share-alt"></li>
  <li class="ion-android-bookmark"></li>
  <li class="ion-android-document"></li>
  <li class="ion-android-clipboard"></li>
  <li class="ion-android-list"></li>
  <li class="ion-android-folder-open"></li>
  <li class="ion-android-folder"></li>
  <li class="ion-android-print"></li>
  <li class="ion-android-open"></li>
  <li class="ion-android-exit"></li>
  <li class="ion-android-contract"></li>
  <li class="ion-android-expand"></li>
  <li class="ion-android-globe"></li>
  <li class="ion-android-chat"></li>
  <li class="ion-android-textsms"></li>
  <li class="ion-android-hangout"></li>
  <li class="ion-android-happy"></li>
  <li class="ion-android-sad"></li>
  <li class="ion-android-person"></li>
  <li class="ion-android-people"></li>
  <li class="ion-android-person-add"></li>
  <li class="ion-android-contact"></li>
  <li class="ion-android-contacts"></li>
  <li class="ion-android-playstore"></li>
  <li class="ion-android-lock"></li>
  <li class="ion-android-unlock"></li>
  <li class="ion-android-microphone"></li>
  <li class="ion-android-microphone-off"></li>
  <li class="ion-android-notifications-none"></li>
  <li class="ion-android-notifications"></li>
  <li class="ion-android-notifications-off"></li>
  <li class="ion-android-volume-mute"></li>
  <li class="ion-android-volume-down"></li>
  <li class="ion-android-volume-up"></li>
  <li class="ion-android-volume-off"></li>
  <li class="ion-android-hand"></li>
  <li class="ion-android-desktop"></li>
  <li class="ion-android-laptop"></li>
  <li class="ion-android-phone-portrait"></li>
  <li class="ion-android-phone-landscape"></li>
  <li class="ion-android-bulb"></li>
  <li class="ion-android-sunny"></li>
  <li class="ion-android-alert"></li>
  <li class="ion-android-warning"></li>
  <li class="ion-social-twitter"></li>
  <li class="ion-social-twitter-outline"></li>
  <li class="ion-social-facebook"></li>
  <li class="ion-social-facebook-outline"></li>
  <li class="ion-social-googleplus"></li>
  <li class="ion-social-googleplus-outline"></li>
  <li class="ion-social-google"></li>
  <li class="ion-social-google-outline"></li>
  <li class="ion-social-dribbble"></li>
  <li class="ion-social-dribbble-outline"></li>
  <li class="ion-social-octocat"></li>
  <li class="ion-social-github"></li>
  <li class="ion-social-github-outline"></li>
  <li class="ion-social-instagram"></li>
  <li class="ion-social-instagram-outline"></li>
  <li class="ion-social-whatsapp"></li>
  <li class="ion-social-whatsapp-outline"></li>
  <li class="ion-social-snapchat"></li>
  <li class="ion-social-snapchat-outline"></li>
  <li class="ion-social-foursquare"></li>
  <li class="ion-social-foursquare-outline"></li>
  <li class="ion-social-pinterest"></li>
  <li class="ion-social-pinterest-outline"></li>
  <li class="ion-social-rss"></li>
  <li class="ion-social-rss-outline"></li>
  <li class="ion-social-tumblr"></li>
  <li class="ion-social-tumblr-outline"></li>
  <li class="ion-social-wordpress"></li>
  <li class="ion-social-wordpress-outline"></li>
  <li class="ion-social-reddit"></li>
  <li class="ion-social-reddit-outline"></li>
  <li class="ion-social-hackernews"></li>
  <li class="ion-social-hackernews-outline"></li>
  <li class="ion-social-designernews"></li>
  <li class="ion-social-designernews-outline"></li>
  <li class="ion-social-yahoo"></li>
  <li class="ion-social-yahoo-outline"></li>
  <li class="ion-social-buffer"></li>
  <li class="ion-social-buffer-outline"></li>
  <li class="ion-social-skype"></li>
  <li class="ion-social-skype-outline"></li>
  <li class="ion-social-linkedin"></li>
  <li class="ion-social-linkedin-outline"></li>
  <li class="ion-social-vimeo"></li>
  <li class="ion-social-vimeo-outline"></li>
  <li class="ion-social-twitch"></li>
  <li class="ion-social-twitch-outline"></li>
  <li class="ion-social-youtube"></li>
  <li class="ion-social-youtube-outline"></li>
  <li class="ion-social-dropbox"></li>
  <li class="ion-social-dropbox-outline"></li>
  <li class="ion-social-apple"></li>
  <li class="ion-social-apple-outline"></li>
  <li class="ion-social-android"></li>
  <li class="ion-social-android-outline"></li>
  <li class="ion-social-windows"></li>
  <li class="ion-social-windows-outline"></li>
  <li class="ion-social-html5"></li>
  <li class="ion-social-html5-outline"></li>
  <li class="ion-social-css3"></li>
  <li class="ion-social-css3-outline"></li>
  <li class="ion-social-javascript"></li>
  <li class="ion-social-javascript-outline"></li>
  <li class="ion-social-angular"></li>
  <li class="ion-social-angular-outline"></li>
  <li class="ion-social-nodejs"></li>
  <li class="ion-social-sass"></li>
  <li class="ion-social-python"></li>
  <li class="ion-social-chrome"></li>
  <li class="ion-social-chrome-outline"></li>
  <li class="ion-social-codepen"></li>
  <li class="ion-social-codepen-outline"></li>
  <li class="ion-social-markdown"></li>
  <li class="ion-social-tux"></li>
  <li class="ion-social-freebsd-devil"></li>
  <li class="ion-social-usd"></li>
  <li class="ion-social-usd-outline"></li>
  <li class="ion-social-bitcoin"></li>
  <li class="ion-social-bitcoin-outline"></li>
  <li class="ion-social-yen"></li>
  <li class="ion-social-yen-outline"></li>
  <li class="ion-social-euro"></li>
  <li class="ion-social-euro-outline"></li>
</ul>