<ul class='icons'>
  <li class='mdi mdi-access-point'></li>
  <li class='mdi mdi-access-point-network'></li>
  <li class='mdi mdi-account'></li>
  <li class='mdi mdi-account-alert'></li>
  <li class='mdi mdi-account-box'></li>
  <li class='mdi mdi-account-box-outline'></li>
  <li class='mdi mdi-account-card-details'></li>
  <li class='mdi mdi-account-check'></li>
  <li class='mdi mdi-account-circle'></li>
  <li class='mdi mdi-account-convert'></li>
  <li class='mdi mdi-account-key'></li>
  <li class='mdi mdi-account-location'></li>
  <li class='mdi mdi-account-minus'></li>
  <li class='mdi mdi-account-multiple'></li>
  <li class='mdi mdi-account-multiple-minus'></li>
  <li class='mdi mdi-account-multiple-outline'></li>
  <li class='mdi mdi-account-multiple-plus'></li>
  <li class='mdi mdi-account-network'></li>
  <li class='mdi mdi-account-off'></li>
  <li class='mdi mdi-account-outline'></li>
  <li class='mdi mdi-account-plus'></li>
  <li class='mdi mdi-account-remove'></li>
  <li class='mdi mdi-account-search'></li>
  <li class='mdi mdi-account-settings'></li>
  <li class='mdi mdi-account-settings-variant'></li>
  <li class='mdi mdi-account-star'></li>
  <li class='mdi mdi-account-star-variant'></li>
  <li class='mdi mdi-account-switch'></li>
  <li class='mdi mdi-adjust'></li>
  <li class='mdi mdi-air-conditioner'></li>
  <li class='mdi mdi-airballoon'></li>
  <li class='mdi mdi-airplane'></li>
  <li class='mdi mdi-airplane-landing'></li>
  <li class='mdi mdi-airplane-off'></li>
  <li class='mdi mdi-airplane-takeoff'></li>
  <li class='mdi mdi-airplay'></li>
  <li class='mdi mdi-alarm'></li>
  <li class='mdi mdi-alarm-check'></li>
  <li class='mdi mdi-alarm-multiple'></li>
  <li class='mdi mdi-alarm-off'></li>
  <li class='mdi mdi-alarm-plus'></li>
  <li class='mdi mdi-album'></li>
  <li class='mdi mdi-alert'></li>
  <li class='mdi mdi-alert-box'></li>
  <li class='mdi mdi-alert-circle'></li>
  <li class='mdi mdi-alert-circle-outline'></li>
  <li class='mdi mdi-alert-octagon'></li>
  <li class='mdi mdi-alert-outline'></li>
  <li class='mdi mdi-alpha'></li>
  <li class='mdi mdi-alphabetical'></li>
  <li class='mdi mdi-altimeter'></li>
  <li class='mdi mdi-amazon'></li>
  <li class='mdi mdi-amazon-clouddrive'></li>
  <li class='mdi mdi-ambulance'></li>
  <li class='mdi mdi-amplifier'></li>
  <li class='mdi mdi-anchor'></li>
  <li class='mdi mdi-android'></li>
  <li class='mdi mdi-android-debug-bridge'></li>
  <li class='mdi mdi-android-studio'></li>
  <li class='mdi mdi-animation'></li>
  <li class='mdi mdi-apple'></li>
  <li class='mdi mdi-apple-finder'></li>
  <li class='mdi mdi-apple-ios'></li>
  <li class='mdi mdi-apple-keyboard-caps'></li>
  <li class='mdi mdi-apple-keyboard-command'></li>
  <li class='mdi mdi-apple-keyboard-control'></li>
  <li class='mdi mdi-apple-keyboard-option'></li>
  <li class='mdi mdi-apple-keyboard-shift'></li>
  <li class='mdi mdi-apple-mobileme'></li>
  <li class='mdi mdi-apple-safari'></li>
  <li class='mdi mdi-application'></li>
  <li class='mdi mdi-appnet'></li>
  <li class='mdi mdi-apps'></li>
  <li class='mdi mdi-archive'></li>
  <li class='mdi mdi-arrange-bring-forward'></li>
  <li class='mdi mdi-arrange-bring-to-front'></li>
  <li class='mdi mdi-arrange-send-backward'></li>
  <li class='mdi mdi-arrange-send-to-back'></li>
  <li class='mdi mdi-arrow-all'></li>
  <li class='mdi mdi-arrow-bottom-left'></li>
  <li class='mdi mdi-arrow-bottom-right'></li>
  <li class='mdi mdi-arrow-compress'></li>
  <li class='mdi mdi-arrow-compress-all'></li>
  <li class='mdi mdi-arrow-down'></li>
  <li class='mdi mdi-arrow-down-bold'></li>
  <li class='mdi mdi-arrow-down-bold-circle'></li>
  <li class='mdi mdi-arrow-down-bold-circle-outline'></li>
  <li class='mdi mdi-arrow-down-bold-hexagon-outline'></li>
  <li class='mdi mdi-arrow-down-drop-circle'></li>
  <li class='mdi mdi-arrow-down-drop-circle-outline'></li>
  <li class='mdi mdi-arrow-expand'></li>
  <li class='mdi mdi-arrow-expand-all'></li>
  <li class='mdi mdi-arrow-left'></li>
  <li class='mdi mdi-arrow-left-bold'></li>
  <li class='mdi mdi-arrow-left-bold-circle'></li>
  <li class='mdi mdi-arrow-left-bold-circle-outline'></li>
  <li class='mdi mdi-arrow-left-bold-hexagon-outline'></li>
  <li class='mdi mdi-arrow-left-drop-circle'></li>
  <li class='mdi mdi-arrow-left-drop-circle-outline'></li>
  <li class='mdi mdi-arrow-right'></li>
  <li class='mdi mdi-arrow-right-bold'></li>
  <li class='mdi mdi-arrow-right-bold-circle'></li>
  <li class='mdi mdi-arrow-right-bold-circle-outline'></li>
  <li class='mdi mdi-arrow-right-bold-hexagon-outline'></li>
  <li class='mdi mdi-arrow-right-drop-circle'></li>
  <li class='mdi mdi-arrow-right-drop-circle-outline'></li>
  <li class='mdi mdi-arrow-top-left'></li>
  <li class='mdi mdi-arrow-top-right'></li>
  <li class='mdi mdi-arrow-up'></li>
  <li class='mdi mdi-arrow-up-bold'></li>
  <li class='mdi mdi-arrow-up-bold-circle'></li>
  <li class='mdi mdi-arrow-up-bold-circle-outline'></li>
  <li class='mdi mdi-arrow-up-bold-hexagon-outline'></li>
  <li class='mdi mdi-arrow-up-drop-circle'></li>
  <li class='mdi mdi-arrow-up-drop-circle-outline'></li>
  <li class='mdi mdi-assistant'></li>
  <li class='mdi mdi-at'></li>
  <li class='mdi mdi-attachment'></li>
  <li class='mdi mdi-audiobook'></li>
  <li class='mdi mdi-auto-fix'></li>
  <li class='mdi mdi-auto-upload'></li>
  <li class='mdi mdi-autorenew'></li>
  <li class='mdi mdi-av-timer'></li>
  <li class='mdi mdi-baby'></li>
  <li class='mdi mdi-backburger'></li>
  <li class='mdi mdi-backspace'></li>
  <li class='mdi mdi-backup-restore'></li>
  <li class='mdi mdi-bank'></li>
  <li class='mdi mdi-barcode'></li>
  <li class='mdi mdi-barcode-scan'></li>
  <li class='mdi mdi-barley'></li>
  <li class='mdi mdi-barrel'></li>
  <li class='mdi mdi-basecamp'></li>
  <li class='mdi mdi-basket'></li>
  <li class='mdi mdi-basket-fill'></li>
  <li class='mdi mdi-basket-unfill'></li>
  <li class='mdi mdi-battery'></li>
  <li class='mdi mdi-battery-10'></li>
  <li class='mdi mdi-battery-20'></li>
  <li class='mdi mdi-battery-30'></li>
  <li class='mdi mdi-battery-40'></li>
  <li class='mdi mdi-battery-50'></li>
  <li class='mdi mdi-battery-60'></li>
  <li class='mdi mdi-battery-70'></li>
  <li class='mdi mdi-battery-80'></li>
  <li class='mdi mdi-battery-90'></li>
  <li class='mdi mdi-battery-alert'></li>
  <li class='mdi mdi-battery-charging'></li>
  <li class='mdi mdi-battery-charging-100'></li>
  <li class='mdi mdi-battery-charging-20'></li>
  <li class='mdi mdi-battery-charging-30'></li>
  <li class='mdi mdi-battery-charging-40'></li>
  <li class='mdi mdi-battery-charging-60'></li>
  <li class='mdi mdi-battery-charging-80'></li>
  <li class='mdi mdi-battery-charging-90'></li>
  <li class='mdi mdi-battery-minus'></li>
  <li class='mdi mdi-battery-negative'></li>
  <li class='mdi mdi-battery-outline'></li>
  <li class='mdi mdi-battery-plus'></li>
  <li class='mdi mdi-battery-positive'></li>
  <li class='mdi mdi-battery-unknown'></li>
  <li class='mdi mdi-beach'></li>
  <li class='mdi mdi-beats'></li>
  <li class='mdi mdi-beer'></li>
  <li class='mdi mdi-behance'></li>
  <li class='mdi mdi-bell'></li>
  <li class='mdi mdi-bell-off'></li>
  <li class='mdi mdi-bell-outline'></li>
  <li class='mdi mdi-bell-plus'></li>
  <li class='mdi mdi-bell-ring'></li>
  <li class='mdi mdi-bell-ring-outline'></li>
  <li class='mdi mdi-bell-sleep'></li>
  <li class='mdi mdi-beta'></li>
  <li class='mdi mdi-bible'></li>
  <li class='mdi mdi-bike'></li>
  <li class='mdi mdi-bing'></li>
  <li class='mdi mdi-binoculars'></li>
  <li class='mdi mdi-bio'></li>
  <li class='mdi mdi-biohazard'></li>
  <li class='mdi mdi-bitbucket'></li>
  <li class='mdi mdi-black-mesa'></li>
  <li class='mdi mdi-blackberry'></li>
  <li class='mdi mdi-blender'></li>
  <li class='mdi mdi-blinds'></li>
  <li class='mdi mdi-block-helper'></li>
  <li class='mdi mdi-blogger'></li>
  <li class='mdi mdi-bluetooth'></li>
  <li class='mdi mdi-bluetooth-audio'></li>
  <li class='mdi mdi-bluetooth-connect'></li>
  <li class='mdi mdi-bluetooth-off'></li>
  <li class='mdi mdi-bluetooth-settings'></li>
  <li class='mdi mdi-bluetooth-transfer'></li>
  <li class='mdi mdi-blur'></li>
  <li class='mdi mdi-blur-linear'></li>
  <li class='mdi mdi-blur-off'></li>
  <li class='mdi mdi-blur-radial'></li>
  <li class='mdi mdi-bone'></li>
  <li class='mdi mdi-book'></li>
  <li class='mdi mdi-book-minus'></li>
  <li class='mdi mdi-book-multiple'></li>
  <li class='mdi mdi-book-multiple-variant'></li>
  <li class='mdi mdi-book-open'></li>
  <li class='mdi mdi-book-open-page-variant'></li>
  <li class='mdi mdi-book-open-variant'></li>
  <li class='mdi mdi-book-plus'></li>
  <li class='mdi mdi-book-variant'></li>
  <li class='mdi mdi-bookmark'></li>
  <li class='mdi mdi-bookmark-check'></li>
  <li class='mdi mdi-bookmark-music'></li>
  <li class='mdi mdi-bookmark-outline'></li>
  <li class='mdi mdi-bookmark-plus'></li>
  <li class='mdi mdi-bookmark-plus-outline'></li>
  <li class='mdi mdi-bookmark-remove'></li>
  <li class='mdi mdi-boombox'></li>
  <li class='mdi mdi-border-all'></li>
  <li class='mdi mdi-border-bottom'></li>
  <li class='mdi mdi-border-color'></li>
  <li class='mdi mdi-border-horizontal'></li>
  <li class='mdi mdi-border-inside'></li>
  <li class='mdi mdi-border-left'></li>
  <li class='mdi mdi-border-none'></li>
  <li class='mdi mdi-border-outside'></li>
  <li class='mdi mdi-border-right'></li>
  <li class='mdi mdi-border-style'></li>
  <li class='mdi mdi-border-top'></li>
  <li class='mdi mdi-border-vertical'></li>
  <li class='mdi mdi-bowl'></li>
  <li class='mdi mdi-bowling'></li>
  <li class='mdi mdi-box'></li>
  <li class='mdi mdi-box-cutter'></li>
  <li class='mdi mdi-box-shadow'></li>
  <li class='mdi mdi-bridge'></li>
  <li class='mdi mdi-briefcase'></li>
  <li class='mdi mdi-briefcase-check'></li>
  <li class='mdi mdi-briefcase-download'></li>
  <li class='mdi mdi-briefcase-upload'></li>
  <li class='mdi mdi-brightness-1'></li>
  <li class='mdi mdi-brightness-2'></li>
  <li class='mdi mdi-brightness-3'></li>
  <li class='mdi mdi-brightness-4'></li>
  <li class='mdi mdi-brightness-5'></li>
  <li class='mdi mdi-brightness-6'></li>
  <li class='mdi mdi-brightness-7'></li>
  <li class='mdi mdi-brightness-auto'></li>
  <li class='mdi mdi-broom'></li>
  <li class='mdi mdi-brush'></li>
  <li class='mdi mdi-buffer'></li>
  <li class='mdi mdi-bug'></li>
  <li class='mdi mdi-bulletin-board'></li>
  <li class='mdi mdi-bullhorn'></li>
  <li class='mdi mdi-bullseye'></li>
  <li class='mdi mdi-burst-mode'></li>
  <li class='mdi mdi-bus'></li>
  <li class='mdi mdi-cached'></li>
  <li class='mdi mdi-cake'></li>
  <li class='mdi mdi-cake-layered'></li>
  <li class='mdi mdi-cake-variant'></li>
  <li class='mdi mdi-calculator'></li>
  <li class='mdi mdi-calendar'></li>
  <li class='mdi mdi-calendar-blank'></li>
  <li class='mdi mdi-calendar-check'></li>
  <li class='mdi mdi-calendar-clock'></li>
  <li class='mdi mdi-calendar-multiple'></li>
  <li class='mdi mdi-calendar-multiple-check'></li>
  <li class='mdi mdi-calendar-plus'></li>
  <li class='mdi mdi-calendar-remove'></li>
  <li class='mdi mdi-calendar-text'></li>
  <li class='mdi mdi-calendar-today'></li>
  <li class='mdi mdi-call-made'></li>
  <li class='mdi mdi-call-merge'></li>
  <li class='mdi mdi-call-missed'></li>
  <li class='mdi mdi-call-received'></li>
  <li class='mdi mdi-call-split'></li>
  <li class='mdi mdi-camcorder'></li>
  <li class='mdi mdi-camcorder-box'></li>
  <li class='mdi mdi-camcorder-box-off'></li>
  <li class='mdi mdi-camcorder-off'></li>
  <li class='mdi mdi-camera'></li>
  <li class='mdi mdi-camera-enhance'></li>
  <li class='mdi mdi-camera-front'></li>
  <li class='mdi mdi-camera-front-variant'></li>
  <li class='mdi mdi-camera-iris'></li>
  <li class='mdi mdi-camera-off'></li>
  <li class='mdi mdi-camera-party-mode'></li>
  <li class='mdi mdi-camera-rear'></li>
  <li class='mdi mdi-camera-rear-variant'></li>
  <li class='mdi mdi-camera-switch'></li>
  <li class='mdi mdi-camera-timer'></li>
  <li class='mdi mdi-candle'></li>
  <li class='mdi mdi-candycane'></li>
  <li class='mdi mdi-car'></li>
  <li class='mdi mdi-car-battery'></li>
  <li class='mdi mdi-car-connected'></li>
  <li class='mdi mdi-car-wash'></li>
  <li class='mdi mdi-cards'></li>
  <li class='mdi mdi-cards-outline'></li>
  <li class='mdi mdi-cards-playing-outline'></li>
  <li class='mdi mdi-carrot'></li>
  <li class='mdi mdi-cart'></li>
  <li class='mdi mdi-cart-off'></li>
  <li class='mdi mdi-cart-outline'></li>
  <li class='mdi mdi-cart-plus'></li>
  <li class='mdi mdi-case-sensitive-alt'></li>
  <li class='mdi mdi-cash'></li>
  <li class='mdi mdi-cash-100'></li>
  <li class='mdi mdi-cash-multiple'></li>
  <li class='mdi mdi-cash-usd'></li>
  <li class='mdi mdi-cast'></li>
  <li class='mdi mdi-cast-connected'></li>
  <li class='mdi mdi-castle'></li>
  <li class='mdi mdi-cat'></li>
  <li class='mdi mdi-cellphone'></li>
  <li class='mdi mdi-cellphone-android'></li>
  <li class='mdi mdi-cellphone-basic'></li>
  <li class='mdi mdi-cellphone-dock'></li>
  <li class='mdi mdi-cellphone-iphone'></li>
  <li class='mdi mdi-cellphone-link'></li>
  <li class='mdi mdi-cellphone-link-off'></li>
  <li class='mdi mdi-cellphone-settings'></li>
  <li class='mdi mdi-certificate'></li>
  <li class='mdi mdi-chair-school'></li>
  <li class='mdi mdi-chart-arc'></li>
  <li class='mdi mdi-chart-areaspline'></li>
  <li class='mdi mdi-chart-bar'></li>
  <li class='mdi mdi-chart-bubble'></li>
  <li class='mdi mdi-chart-gantt'></li>
  <li class='mdi mdi-chart-histogram'></li>
  <li class='mdi mdi-chart-line'></li>
  <li class='mdi mdi-chart-pie'></li>
  <li class='mdi mdi-chart-scatterplot-hexbin'></li>
  <li class='mdi mdi-chart-timeline'></li>
  <li class='mdi mdi-check'></li>
  <li class='mdi mdi-check-all'></li>
  <li class='mdi mdi-check-circle'></li>
  <li class='mdi mdi-check-circle-outline'></li>
  <li class='mdi mdi-checkbox-blank'></li>
  <li class='mdi mdi-checkbox-blank-circle'></li>
  <li class='mdi mdi-checkbox-blank-circle-outline'></li>
  <li class='mdi mdi-checkbox-blank-outline'></li>
  <li class='mdi mdi-checkbox-marked'></li>
  <li class='mdi mdi-checkbox-marked-circle'></li>
  <li class='mdi mdi-checkbox-marked-circle-outline'></li>
  <li class='mdi mdi-checkbox-marked-outline'></li>
  <li class='mdi mdi-checkbox-multiple-blank'></li>
  <li class='mdi mdi-checkbox-multiple-blank-circle'></li>
  <li class='mdi mdi-checkbox-multiple-blank-circle-outline'></li>
  <li class='mdi mdi-checkbox-multiple-blank-outline'></li>
  <li class='mdi mdi-checkbox-multiple-marked'></li>
  <li class='mdi mdi-checkbox-multiple-marked-circle'></li>
  <li class='mdi mdi-checkbox-multiple-marked-circle-outline'></li>
  <li class='mdi mdi-checkbox-multiple-marked-outline'></li>
  <li class='mdi mdi-checkerboard'></li>
  <li class='mdi mdi-chemical-weapon'></li>
  <li class='mdi mdi-chevron-double-down'></li>
  <li class='mdi mdi-chevron-double-left'></li>
  <li class='mdi mdi-chevron-double-right'></li>
  <li class='mdi mdi-chevron-double-up'></li>
  <li class='mdi mdi-chevron-down'></li>
  <li class='mdi mdi-chevron-left'></li>
  <li class='mdi mdi-chevron-right'></li>
  <li class='mdi mdi-chevron-up'></li>
  <li class='mdi mdi-chip'></li>
  <li class='mdi mdi-church'></li>
  <li class='mdi mdi-cisco-webex'></li>
  <li class='mdi mdi-city'></li>
  <li class='mdi mdi-clipboard'></li>
  <li class='mdi mdi-clipboard-account'></li>
  <li class='mdi mdi-clipboard-alert'></li>
  <li class='mdi mdi-clipboard-arrow-down'></li>
  <li class='mdi mdi-clipboard-arrow-left'></li>
  <li class='mdi mdi-clipboard-check'></li>
  <li class='mdi mdi-clipboard-outline'></li>
  <li class='mdi mdi-clipboard-text'></li>
  <li class='mdi mdi-clippy'></li>
  <li class='mdi mdi-clock'></li>
  <li class='mdi mdi-clock-alert'></li>
  <li class='mdi mdi-clock-end'></li>
  <li class='mdi mdi-clock-fast'></li>
  <li class='mdi mdi-clock-in'></li>
  <li class='mdi mdi-clock-out'></li>
  <li class='mdi mdi-clock-start'></li>
  <li class='mdi mdi-close'></li>
  <li class='mdi mdi-close-box'></li>
  <li class='mdi mdi-close-box-outline'></li>
  <li class='mdi mdi-close-circle'></li>
  <li class='mdi mdi-close-circle-outline'></li>
  <li class='mdi mdi-close-network'></li>
  <li class='mdi mdi-close-octagon'></li>
  <li class='mdi mdi-close-octagon-outline'></li>
  <li class='mdi mdi-closed-caption'></li>
  <li class='mdi mdi-cloud'></li>
  <li class='mdi mdi-cloud-check'></li>
  <li class='mdi mdi-cloud-circle'></li>
  <li class='mdi mdi-cloud-download'></li>
  <li class='mdi mdi-cloud-outline'></li>
  <li class='mdi mdi-cloud-outline-off'></li>
  <li class='mdi mdi-cloud-print'></li>
  <li class='mdi mdi-cloud-print-outline'></li>
  <li class='mdi mdi-cloud-sync'></li>
  <li class='mdi mdi-cloud-upload'></li>
  <li class='mdi mdi-code-array'></li>
  <li class='mdi mdi-code-braces'></li>
  <li class='mdi mdi-code-brackets'></li>
  <li class='mdi mdi-code-equal'></li>
  <li class='mdi mdi-code-greater-than'></li>
  <li class='mdi mdi-code-greater-than-or-equal'></li>
  <li class='mdi mdi-code-less-than'></li>
  <li class='mdi mdi-code-less-than-or-equal'></li>
  <li class='mdi mdi-code-not-equal'></li>
  <li class='mdi mdi-code-not-equal-variant'></li>
  <li class='mdi mdi-code-parentheses'></li>
  <li class='mdi mdi-code-string'></li>
  <li class='mdi mdi-code-tags'></li>
  <li class='mdi mdi-codepen'></li>
  <li class='mdi mdi-coffee'></li>
  <li class='mdi mdi-coffee-to-go'></li>
  <li class='mdi mdi-coin'></li>
  <li class='mdi mdi-collage'></li>
  <li class='mdi mdi-color-helper'></li>
  <li class='mdi mdi-comment'></li>
  <li class='mdi mdi-comment-account'></li>
  <li class='mdi mdi-comment-account-outline'></li>
  <li class='mdi mdi-comment-alert'></li>
  <li class='mdi mdi-comment-alert-outline'></li>
  <li class='mdi mdi-comment-check'></li>
  <li class='mdi mdi-comment-check-outline'></li>
  <li class='mdi mdi-comment-multiple-outline'></li>
  <li class='mdi mdi-comment-outline'></li>
  <li class='mdi mdi-comment-plus-outline'></li>
  <li class='mdi mdi-comment-processing'></li>
  <li class='mdi mdi-comment-processing-outline'></li>
  <li class='mdi mdi-comment-question-outline'></li>
  <li class='mdi mdi-comment-remove-outline'></li>
  <li class='mdi mdi-comment-text'></li>
  <li class='mdi mdi-comment-text-outline'></li>
  <li class='mdi mdi-compare'></li>
  <li class='mdi mdi-compass'></li>
  <li class='mdi mdi-compass-outline'></li>
  <li class='mdi mdi-console'></li>
  <li class='mdi mdi-contact-mail'></li>
  <li class='mdi mdi-content-copy'></li>
  <li class='mdi mdi-content-cut'></li>
  <li class='mdi mdi-content-duplicate'></li>
  <li class='mdi mdi-content-paste'></li>
  <li class='mdi mdi-content-save'></li>
  <li class='mdi mdi-content-save-all'></li>
  <li class='mdi mdi-content-save-settings'></li>
  <li class='mdi mdi-contrast'></li>
  <li class='mdi mdi-contrast-box'></li>
  <li class='mdi mdi-contrast-circle'></li>
  <li class='mdi mdi-cookie'></li>
  <li class='mdi mdi-copyright'></li>
  <li class='mdi mdi-counter'></li>
  <li class='mdi mdi-cow'></li>
  <li class='mdi mdi-credit-card'></li>
  <li class='mdi mdi-credit-card-multiple'></li>
  <li class='mdi mdi-credit-card-off'></li>
  <li class='mdi mdi-credit-card-scan'></li>
  <li class='mdi mdi-crop'></li>
  <li class='mdi mdi-crop-free'></li>
  <li class='mdi mdi-crop-landscape'></li>
  <li class='mdi mdi-crop-portrait'></li>
  <li class='mdi mdi-crop-square'></li>
  <li class='mdi mdi-crosshairs'></li>
  <li class='mdi mdi-crosshairs-gps'></li>
  <li class='mdi mdi-crown'></li>
  <li class='mdi mdi-cube'></li>
  <li class='mdi mdi-cube-outline'></li>
  <li class='mdi mdi-cube-send'></li>
  <li class='mdi mdi-cube-unfolded'></li>
  <li class='mdi mdi-cup'></li>
  <li class='mdi mdi-cup-off'></li>
  <li class='mdi mdi-cup-water'></li>
  <li class='mdi mdi-currency-btc'></li>
  <li class='mdi mdi-currency-eur'></li>
  <li class='mdi mdi-currency-gbp'></li>
  <li class='mdi mdi-currency-inr'></li>
  <li class='mdi mdi-currency-ngn'></li>
  <li class='mdi mdi-currency-rub'></li>
  <li class='mdi mdi-currency-try'></li>
  <li class='mdi mdi-currency-usd'></li>
  <li class='mdi mdi-cursor-default'></li>
  <li class='mdi mdi-cursor-default-outline'></li>
  <li class='mdi mdi-cursor-move'></li>
  <li class='mdi mdi-cursor-pointer'></li>
  <li class='mdi mdi-cursor-text'></li>
  <li class='mdi mdi-database'></li>
  <li class='mdi mdi-database-minus'></li>
  <li class='mdi mdi-database-plus'></li>
  <li class='mdi mdi-debug-step-into'></li>
  <li class='mdi mdi-debug-step-out'></li>
  <li class='mdi mdi-debug-step-over'></li>
  <li class='mdi mdi-decimal-decrease'></li>
  <li class='mdi mdi-decimal-increase'></li>
  <li class='mdi mdi-delete'></li>
  <li class='mdi mdi-delete-forever'></li>
  <li class='mdi mdi-delete-sweep'></li>
  <li class='mdi mdi-delete-variant'></li>
  <li class='mdi mdi-delta'></li>
  <li class='mdi mdi-deskphone'></li>
  <li class='mdi mdi-desktop-mac'></li>
  <li class='mdi mdi-desktop-tower'></li>
  <li class='mdi mdi-details'></li>
  <li class='mdi mdi-deviantart'></li>
  <li class='mdi mdi-dialpad'></li>
  <li class='mdi mdi-diamond'></li>
  <li class='mdi mdi-dice-1'></li>
  <li class='mdi mdi-dice-2'></li>
  <li class='mdi mdi-dice-3'></li>
  <li class='mdi mdi-dice-4'></li>
  <li class='mdi mdi-dice-5'></li>
  <li class='mdi mdi-dice-6'></li>
  <li class='mdi mdi-dice-d20'></li>
  <li class='mdi mdi-dice-d4'></li>
  <li class='mdi mdi-dice-d6'></li>
  <li class='mdi mdi-dice-d8'></li>
  <li class='mdi mdi-dictionary'></li>
  <li class='mdi mdi-directions'></li>
  <li class='mdi mdi-directions-fork'></li>
  <li class='mdi mdi-discord'></li>
  <li class='mdi mdi-disk'></li>
  <li class='mdi mdi-disk-alert'></li>
  <li class='mdi mdi-disqus'></li>
  <li class='mdi mdi-disqus-outline'></li>
  <li class='mdi mdi-division'></li>
  <li class='mdi mdi-division-box'></li>
  <li class='mdi mdi-dns'></li>
  <li class='mdi mdi-domain'></li>
  <li class='mdi mdi-dots-horizontal'></li>
  <li class='mdi mdi-dots-vertical'></li>
  <li class='mdi mdi-download'></li>
  <li class='mdi mdi-drag'></li>
  <li class='mdi mdi-drag-horizontal'></li>
  <li class='mdi mdi-drag-vertical'></li>
  <li class='mdi mdi-drawing'></li>
  <li class='mdi mdi-drawing-box'></li>
  <li class='mdi mdi-dribbble'></li>
  <li class='mdi mdi-dribbble-box'></li>
  <li class='mdi mdi-drone'></li>
  <li class='mdi mdi-dropbox'></li>
  <li class='mdi mdi-drupal'></li>
  <li class='mdi mdi-duck'></li>
  <li class='mdi mdi-dumbbell'></li>
  <li class='mdi mdi-earth'></li>
  <li class='mdi mdi-earth-off'></li>
  <li class='mdi mdi-edge'></li>
  <li class='mdi mdi-eject'></li>
  <li class='mdi mdi-elevation-decline'></li>
  <li class='mdi mdi-elevation-rise'></li>
  <li class='mdi mdi-elevator'></li>
  <li class='mdi mdi-email'></li>
  <li class='mdi mdi-email-open'></li>
  <li class='mdi mdi-email-open-outline'></li>
  <li class='mdi mdi-email-outline'></li>
  <li class='mdi mdi-email-secure'></li>
  <li class='mdi mdi-email-variant'></li>
  <li class='mdi mdi-emoticon'></li>
  <li class='mdi mdi-emoticon-cool'></li>
  <li class='mdi mdi-emoticon-devil'></li>
  <li class='mdi mdi-emoticon-happy'></li>
  <li class='mdi mdi-emoticon-neutral'></li>
  <li class='mdi mdi-emoticon-poop'></li>
  <li class='mdi mdi-emoticon-sad'></li>
  <li class='mdi mdi-emoticon-tongue'></li>
  <li class='mdi mdi-engine'></li>
  <li class='mdi mdi-engine-outline'></li>
  <li class='mdi mdi-equal'></li>
  <li class='mdi mdi-equal-box'></li>
  <li class='mdi mdi-eraser'></li>
  <li class='mdi mdi-eraser-variant'></li>
  <li class='mdi mdi-escalator'></li>
  <li class='mdi mdi-ethernet'></li>
  <li class='mdi mdi-ethernet-cable'></li>
  <li class='mdi mdi-ethernet-cable-off'></li>
  <li class='mdi mdi-etsy'></li>
  <li class='mdi mdi-ev-station'></li>
  <li class='mdi mdi-evernote'></li>
  <li class='mdi mdi-exclamation'></li>
  <li class='mdi mdi-exit-to-app'></li>
  <li class='mdi mdi-export'></li>
  <li class='mdi mdi-eye'></li>
  <li class='mdi mdi-eye-off'></li>
  <li class='mdi mdi-eyedropper'></li>
  <li class='mdi mdi-eyedropper-variant'></li>
  <li class='mdi mdi-face'></li>
  <li class='mdi mdi-face-profile'></li>
  <li class='mdi mdi-facebook'></li>
  <li class='mdi mdi-facebook-box'></li>
  <li class='mdi mdi-facebook-messenger'></li>
  <li class='mdi mdi-factory'></li>
  <li class='mdi mdi-fan'></li>
  <li class='mdi mdi-fast-forward'></li>
  <li class='mdi mdi-fax'></li>
  <li class='mdi mdi-ferry'></li>
  <li class='mdi mdi-file'></li>
  <li class='mdi mdi-file-chart'></li>
  <li class='mdi mdi-file-check'></li>
  <li class='mdi mdi-file-cloud'></li>
  <li class='mdi mdi-file-delimited'></li>
  <li class='mdi mdi-file-document'></li>
  <li class='mdi mdi-file-document-box'></li>
  <li class='mdi mdi-file-excel'></li>
  <li class='mdi mdi-file-excel-box'></li>
  <li class='mdi mdi-file-export'></li>
  <li class='mdi mdi-file-find'></li>
  <li class='mdi mdi-file-hidden'></li>
  <li class='mdi mdi-file-image'></li>
  <li class='mdi mdi-file-import'></li>
  <li class='mdi mdi-file-lock'></li>
  <li class='mdi mdi-file-multiple'></li>
  <li class='mdi mdi-file-music'></li>
  <li class='mdi mdi-file-outline'></li>
  <li class='mdi mdi-file-pdf'></li>
  <li class='mdi mdi-file-pdf-box'></li>
  <li class='mdi mdi-file-powerpoint'></li>
  <li class='mdi mdi-file-powerpoint-box'></li>
  <li class='mdi mdi-file-presentation-box'></li>
  <li class='mdi mdi-file-restore'></li>
  <li class='mdi mdi-file-send'></li>
  <li class='mdi mdi-file-tree'></li>
  <li class='mdi mdi-file-video'></li>
  <li class='mdi mdi-file-word'></li>
  <li class='mdi mdi-file-word-box'></li>
  <li class='mdi mdi-file-xml'></li>
  <li class='mdi mdi-film'></li>
  <li class='mdi mdi-filmstrip'></li>
  <li class='mdi mdi-filmstrip-off'></li>
  <li class='mdi mdi-filter'></li>
  <li class='mdi mdi-filter-outline'></li>
  <li class='mdi mdi-filter-remove'></li>
  <li class='mdi mdi-filter-remove-outline'></li>
  <li class='mdi mdi-filter-variant'></li>
  <li class='mdi mdi-fingerprint'></li>
  <li class='mdi mdi-fire'></li>
  <li class='mdi mdi-firefox'></li>
  <li class='mdi mdi-fish'></li>
  <li class='mdi mdi-flag'></li>
  <li class='mdi mdi-flag-checkered'></li>
  <li class='mdi mdi-flag-outline'></li>
  <li class='mdi mdi-flag-outline-variant'></li>
  <li class='mdi mdi-flag-triangle'></li>
  <li class='mdi mdi-flag-variant'></li>
  <li class='mdi mdi-flash'></li>
  <li class='mdi mdi-flash-auto'></li>
  <li class='mdi mdi-flash-off'></li>
  <li class='mdi mdi-flashlight'></li>
  <li class='mdi mdi-flashlight-off'></li>
  <li class='mdi mdi-flask'></li>
  <li class='mdi mdi-flask-empty'></li>
  <li class='mdi mdi-flask-empty-outline'></li>
  <li class='mdi mdi-flask-outline'></li>
  <li class='mdi mdi-flattr'></li>
  <li class='mdi mdi-flip-to-back'></li>
  <li class='mdi mdi-flip-to-front'></li>
  <li class='mdi mdi-floppy'></li>
  <li class='mdi mdi-flower'></li>
  <li class='mdi mdi-folder'></li>
  <li class='mdi mdi-folder-account'></li>
  <li class='mdi mdi-folder-download'></li>
  <li class='mdi mdi-folder-google-drive'></li>
  <li class='mdi mdi-folder-image'></li>
  <li class='mdi mdi-folder-lock'></li>
  <li class='mdi mdi-folder-lock-open'></li>
  <li class='mdi mdi-folder-move'></li>
  <li class='mdi mdi-folder-multiple'></li>
  <li class='mdi mdi-folder-multiple-image'></li>
  <li class='mdi mdi-folder-multiple-outline'></li>
  <li class='mdi mdi-folder-outline'></li>
  <li class='mdi mdi-folder-plus'></li>
  <li class='mdi mdi-folder-remove'></li>
  <li class='mdi mdi-folder-upload'></li>
  <li class='mdi mdi-food'></li>
  <li class='mdi mdi-food-apple'></li>
  <li class='mdi mdi-food-fork-drink'></li>
  <li class='mdi mdi-food-off'></li>
  <li class='mdi mdi-food-variant'></li>
  <li class='mdi mdi-football'></li>
  <li class='mdi mdi-football-australian'></li>
  <li class='mdi mdi-football-helmet'></li>
  <li class='mdi mdi-format-align-center'></li>
  <li class='mdi mdi-format-align-justify'></li>
  <li class='mdi mdi-format-align-left'></li>
  <li class='mdi mdi-format-align-right'></li>
  <li class='mdi mdi-format-annotation-plus'></li>
  <li class='mdi mdi-format-bold'></li>
  <li class='mdi mdi-format-clear'></li>
  <li class='mdi mdi-format-color-fill'></li>
  <li class='mdi mdi-format-float-center'></li>
  <li class='mdi mdi-format-float-left'></li>
  <li class='mdi mdi-format-float-none'></li>
  <li class='mdi mdi-format-float-right'></li>
  <li class='mdi mdi-format-header-1'></li>
  <li class='mdi mdi-format-header-2'></li>
  <li class='mdi mdi-format-header-3'></li>
  <li class='mdi mdi-format-header-4'></li>
  <li class='mdi mdi-format-header-5'></li>
  <li class='mdi mdi-format-header-6'></li>
  <li class='mdi mdi-format-header-decrease'></li>
  <li class='mdi mdi-format-header-equal'></li>
  <li class='mdi mdi-format-header-increase'></li>
  <li class='mdi mdi-format-header-pound'></li>
  <li class='mdi mdi-format-horizontal-align-center'></li>
  <li class='mdi mdi-format-horizontal-align-left'></li>
  <li class='mdi mdi-format-horizontal-align-right'></li>
  <li class='mdi mdi-format-indent-decrease'></li>
  <li class='mdi mdi-format-indent-increase'></li>
  <li class='mdi mdi-format-italic'></li>
  <li class='mdi mdi-format-line-spacing'></li>
  <li class='mdi mdi-format-line-style'></li>
  <li class='mdi mdi-format-line-weight'></li>
  <li class='mdi mdi-format-list-bulleted'></li>
  <li class='mdi mdi-format-list-bulleted-type'></li>
  <li class='mdi mdi-format-list-numbers'></li>
  <li class='mdi mdi-format-paint'></li>
  <li class='mdi mdi-format-paragraph'></li>
  <li class='mdi mdi-format-quote'></li>
  <li class='mdi mdi-format-size'></li>
  <li class='mdi mdi-format-strikethrough'></li>
  <li class='mdi mdi-format-strikethrough-variant'></li>
  <li class='mdi mdi-format-subscript'></li>
  <li class='mdi mdi-format-superscript'></li>
  <li class='mdi mdi-format-text'></li>
  <li class='mdi mdi-format-textdirection-l-to-r'></li>
  <li class='mdi mdi-format-textdirection-r-to-l'></li>
  <li class='mdi mdi-format-title'></li>
  <li class='mdi mdi-format-underline'></li>
  <li class='mdi mdi-format-vertical-align-bottom'></li>
  <li class='mdi mdi-format-vertical-align-center'></li>
  <li class='mdi mdi-format-vertical-align-top'></li>
  <li class='mdi mdi-format-wrap-inline'></li>
  <li class='mdi mdi-format-wrap-square'></li>
  <li class='mdi mdi-format-wrap-tight'></li>
  <li class='mdi mdi-format-wrap-top-bottom'></li>
  <li class='mdi mdi-forum'></li>
  <li class='mdi mdi-forward'></li>
  <li class='mdi mdi-foursquare'></li>
  <li class='mdi mdi-fridge'></li>
  <li class='mdi mdi-fridge-filled'></li>
  <li class='mdi mdi-fridge-filled-bottom'></li>
  <li class='mdi mdi-fridge-filled-top'></li>
  <li class='mdi mdi-fullscreen'></li>
  <li class='mdi mdi-fullscreen-exit'></li>
  <li class='mdi mdi-function'></li>
  <li class='mdi mdi-gamepad'></li>
  <li class='mdi mdi-gamepad-variant'></li>
  <li class='mdi mdi-gas-cylinder'></li>
  <li class='mdi mdi-gas-station'></li>
  <li class='mdi mdi-gate'></li>
  <li class='mdi mdi-gauge'></li>
  <li class='mdi mdi-gavel'></li>
  <li class='mdi mdi-gender-female'></li>
  <li class='mdi mdi-gender-male'></li>
  <li class='mdi mdi-gender-male-female'></li>
  <li class='mdi mdi-gender-transgender'></li>
  <li class='mdi mdi-ghost'></li>
  <li class='mdi mdi-gift'></li>
  <li class='mdi mdi-git'></li>
  <li class='mdi mdi-github-box'></li>
  <li class='mdi mdi-github-circle'></li>
  <li class='mdi mdi-glass-flute'></li>
  <li class='mdi mdi-glass-mug'></li>
  <li class='mdi mdi-glass-stange'></li>
  <li class='mdi mdi-glass-tulip'></li>
  <li class='mdi mdi-glassdoor'></li>
  <li class='mdi mdi-glasses'></li>
  <li class='mdi mdi-gmail'></li>
  <li class='mdi mdi-gnome'></li>
  <li class='mdi mdi-google'></li>
  <li class='mdi mdi-google-cardboard'></li>
  <li class='mdi mdi-google-chrome'></li>
  <li class='mdi mdi-google-circles'></li>
  <li class='mdi mdi-google-circles-communities'></li>
  <li class='mdi mdi-google-circles-extended'></li>
  <li class='mdi mdi-google-circles-group'></li>
  <li class='mdi mdi-google-controller'></li>
  <li class='mdi mdi-google-controller-off'></li>
  <li class='mdi mdi-google-drive'></li>
  <li class='mdi mdi-google-earth'></li>
  <li class='mdi mdi-google-glass'></li>
  <li class='mdi mdi-google-maps'></li>
  <li class='mdi mdi-google-nearby'></li>
  <li class='mdi mdi-google-pages'></li>
  <li class='mdi mdi-google-physical-web'></li>
  <li class='mdi mdi-google-play'></li>
  <li class='mdi mdi-google-plus'></li>
  <li class='mdi mdi-google-plus-box'></li>
  <li class='mdi mdi-google-translate'></li>
  <li class='mdi mdi-google-wallet'></li>
  <li class='mdi mdi-grease-pencil'></li>
  <li class='mdi mdi-grid'></li>
  <li class='mdi mdi-grid-off'></li>
  <li class='mdi mdi-group'></li>
  <li class='mdi mdi-guitar-electric'></li>
  <li class='mdi mdi-guitar-pick'></li>
  <li class='mdi mdi-guitar-pick-outline'></li>
  <li class='mdi mdi-hackernews'></li>
  <li class='mdi mdi-hand-pointing-right'></li>
  <li class='mdi mdi-hanger'></li>
  <li class='mdi mdi-hangouts'></li>
  <li class='mdi mdi-harddisk'></li>
  <li class='mdi mdi-headphones'></li>
  <li class='mdi mdi-headphones-box'></li>
  <li class='mdi mdi-headphones-settings'></li>
  <li class='mdi mdi-headset'></li>
  <li class='mdi mdi-headset-dock'></li>
  <li class='mdi mdi-headset-off'></li>
  <li class='mdi mdi-heart'></li>
  <li class='mdi mdi-heart-box'></li>
  <li class='mdi mdi-heart-box-outline'></li>
  <li class='mdi mdi-heart-broken'></li>
  <li class='mdi mdi-heart-outline'></li>
  <li class='mdi mdi-heart-pulse'></li>
  <li class='mdi mdi-help'></li>
  <li class='mdi mdi-help-circle'></li>
  <li class='mdi mdi-help-circle-outline'></li>
  <li class='mdi mdi-hexagon'></li>
  <li class='mdi mdi-hexagon-outline'></li>
  <li class='mdi mdi-highway'></li>
  <li class='mdi mdi-history'></li>
  <li class='mdi mdi-hololens'></li>
  <li class='mdi mdi-home'></li>
  <li class='mdi mdi-home-map-marker'></li>
  <li class='mdi mdi-home-modern'></li>
  <li class='mdi mdi-home-variant'></li>
  <li class='mdi mdi-hops'></li>
  <li class='mdi mdi-hospital'></li>
  <li class='mdi mdi-hospital-building'></li>
  <li class='mdi mdi-hospital-marker'></li>
  <li class='mdi mdi-hotel'></li>
  <li class='mdi mdi-houzz'></li>
  <li class='mdi mdi-houzz-box'></li>
  <li class='mdi mdi-human'></li>
  <li class='mdi mdi-human-child'></li>
  <li class='mdi mdi-human-female'></li>
  <li class='mdi mdi-human-greeting'></li>
  <li class='mdi mdi-human-handsdown'></li>
  <li class='mdi mdi-human-handsup'></li>
  <li class='mdi mdi-human-male'></li>
  <li class='mdi mdi-human-male-female'></li>
  <li class='mdi mdi-human-pregnant'></li>
  <li class='mdi mdi-image'></li>
  <li class='mdi mdi-image-album'></li>
  <li class='mdi mdi-image-area'></li>
  <li class='mdi mdi-image-area-close'></li>
  <li class='mdi mdi-image-broken'></li>
  <li class='mdi mdi-image-broken-variant'></li>
  <li class='mdi mdi-image-filter'></li>
  <li class='mdi mdi-image-filter-black-white'></li>
  <li class='mdi mdi-image-filter-center-focus'></li>
  <li class='mdi mdi-image-filter-center-focus-weak'></li>
  <li class='mdi mdi-image-filter-drama'></li>
  <li class='mdi mdi-image-filter-frames'></li>
  <li class='mdi mdi-image-filter-hdr'></li>
  <li class='mdi mdi-image-filter-none'></li>
  <li class='mdi mdi-image-filter-tilt-shift'></li>
  <li class='mdi mdi-image-filter-vintage'></li>
  <li class='mdi mdi-image-multiple'></li>
  <li class='mdi mdi-import'></li>
  <li class='mdi mdi-inbox'></li>
  <li class='mdi mdi-incognito'></li>
  <li class='mdi mdi-information'></li>
  <li class='mdi mdi-information-outline'></li>
  <li class='mdi mdi-information-variant'></li>
  <li class='mdi mdi-instagram'></li>
  <li class='mdi mdi-instapaper'></li>
  <li class='mdi mdi-internet-explorer'></li>
  <li class='mdi mdi-invert-colors'></li>
  <li class='mdi mdi-jeepney'></li>
  <li class='mdi mdi-jira'></li>
  <li class='mdi mdi-jsfiddle'></li>
  <li class='mdi mdi-json'></li>
  <li class='mdi mdi-keg'></li>
  <li class='mdi mdi-kettle'></li>
  <li class='mdi mdi-key'></li>
  <li class='mdi mdi-key-change'></li>
  <li class='mdi mdi-key-minus'></li>
  <li class='mdi mdi-key-plus'></li>
  <li class='mdi mdi-key-remove'></li>
  <li class='mdi mdi-key-variant'></li>
  <li class='mdi mdi-keyboard'></li>
  <li class='mdi mdi-keyboard-backspace'></li>
  <li class='mdi mdi-keyboard-caps'></li>
  <li class='mdi mdi-keyboard-close'></li>
  <li class='mdi mdi-keyboard-off'></li>
  <li class='mdi mdi-keyboard-return'></li>
  <li class='mdi mdi-keyboard-tab'></li>
  <li class='mdi mdi-keyboard-variant'></li>
  <li class='mdi mdi-kodi'></li>
  <li class='mdi mdi-label'></li>
  <li class='mdi mdi-label-outline'></li>
  <li class='mdi mdi-lambda'></li>
  <li class='mdi mdi-lan'></li>
  <li class='mdi mdi-lan-connect'></li>
  <li class='mdi mdi-lan-disconnect'></li>
  <li class='mdi mdi-lan-pending'></li>
  <li class='mdi mdi-language-c'></li>
  <li class='mdi mdi-language-cpp'></li>
  <li class='mdi mdi-language-csharp'></li>
  <li class='mdi mdi-language-css3'></li>
  <li class='mdi mdi-language-html5'></li>
  <li class='mdi mdi-language-javascript'></li>
  <li class='mdi mdi-language-php'></li>
  <li class='mdi mdi-language-python'></li>
  <li class='mdi mdi-language-python-text'></li>
  <li class='mdi mdi-laptop'></li>
  <li class='mdi mdi-laptop-chromebook'></li>
  <li class='mdi mdi-laptop-mac'></li>
  <li class='mdi mdi-laptop-windows'></li>
  <li class='mdi mdi-lastfm'></li>
  <li class='mdi mdi-launch'></li>
  <li class='mdi mdi-layers'></li>
  <li class='mdi mdi-layers-off'></li>
  <li class='mdi mdi-lead-pencil'></li>
  <li class='mdi mdi-leaf'></li>
  <li class='mdi mdi-led-off'></li>
  <li class='mdi mdi-led-on'></li>
  <li class='mdi mdi-led-outline'></li>
  <li class='mdi mdi-led-variant-off'></li>
  <li class='mdi mdi-led-variant-on'></li>
  <li class='mdi mdi-led-variant-outline'></li>
  <li class='mdi mdi-library'></li>
  <li class='mdi mdi-library-books'></li>
  <li class='mdi mdi-library-music'></li>
  <li class='mdi mdi-library-plus'></li>
  <li class='mdi mdi-lightbulb'></li>
  <li class='mdi mdi-lightbulb-outline'></li>
  <li class='mdi mdi-link'></li>
  <li class='mdi mdi-link-off'></li>
  <li class='mdi mdi-link-variant'></li>
  <li class='mdi mdi-link-variant-off'></li>
  <li class='mdi mdi-linkedin'></li>
  <li class='mdi mdi-linkedin-box'></li>
  <li class='mdi mdi-linux'></li>
  <li class='mdi mdi-lock'></li>
  <li class='mdi mdi-lock-open'></li>
  <li class='mdi mdi-lock-open-outline'></li>
  <li class='mdi mdi-lock-outline'></li>
  <li class='mdi mdi-lock-plus'></li>
  <li class='mdi mdi-login'></li>
  <li class='mdi mdi-login-variant'></li>
  <li class='mdi mdi-logout'></li>
  <li class='mdi mdi-logout-variant'></li>
  <li class='mdi mdi-looks'></li>
  <li class='mdi mdi-loupe'></li>
  <li class='mdi mdi-lumx'></li>
  <li class='mdi mdi-magnet'></li>
  <li class='mdi mdi-magnet-on'></li>
  <li class='mdi mdi-magnify'></li>
  <li class='mdi mdi-magnify-minus'></li>
  <li class='mdi mdi-magnify-plus'></li>
  <li class='mdi mdi-mail-ru'></li>
  <li class='mdi mdi-map'></li>
  <li class='mdi mdi-map-marker'></li>
  <li class='mdi mdi-map-marker-circle'></li>
  <li class='mdi mdi-map-marker-minus'></li>
  <li class='mdi mdi-map-marker-multiple'></li>
  <li class='mdi mdi-map-marker-off'></li>
  <li class='mdi mdi-map-marker-plus'></li>
  <li class='mdi mdi-map-marker-radius'></li>
  <li class='mdi mdi-margin'></li>
  <li class='mdi mdi-markdown'></li>
  <li class='mdi mdi-marker'></li>
  <li class='mdi mdi-marker-check'></li>
  <li class='mdi mdi-martini'></li>
  <li class='mdi mdi-material-ui'></li>
  <li class='mdi mdi-math-compass'></li>
  <li class='mdi mdi-matrix'></li>
  <li class='mdi mdi-maxcdn'></li>
  <li class='mdi mdi-medium'></li>
  <li class='mdi mdi-memory'></li>
  <li class='mdi mdi-menu'></li>
  <li class='mdi mdi-menu-down'></li>
  <li class='mdi mdi-menu-left'></li>
  <li class='mdi mdi-menu-right'></li>
  <li class='mdi mdi-menu-up'></li>
  <li class='mdi mdi-message'></li>
  <li class='mdi mdi-message-alert'></li>
  <li class='mdi mdi-message-draw'></li>
  <li class='mdi mdi-message-image'></li>
  <li class='mdi mdi-message-outline'></li>
  <li class='mdi mdi-message-plus'></li>
  <li class='mdi mdi-message-processing'></li>
  <li class='mdi mdi-message-reply'></li>
  <li class='mdi mdi-message-reply-text'></li>
  <li class='mdi mdi-message-text'></li>
  <li class='mdi mdi-message-text-outline'></li>
  <li class='mdi mdi-message-video'></li>
  <li class='mdi mdi-meteor'></li>
  <li class='mdi mdi-microphone'></li>
  <li class='mdi mdi-microphone-off'></li>
  <li class='mdi mdi-microphone-outline'></li>
  <li class='mdi mdi-microphone-settings'></li>
  <li class='mdi mdi-microphone-variant'></li>
  <li class='mdi mdi-microphone-variant-off'></li>
  <li class='mdi mdi-microscope'></li>
  <li class='mdi mdi-microsoft'></li>
  <li class='mdi mdi-minecraft'></li>
  <li class='mdi mdi-minus'></li>
  <li class='mdi mdi-minus-box'></li>
  <li class='mdi mdi-minus-circle'></li>
  <li class='mdi mdi-minus-circle-outline'></li>
  <li class='mdi mdi-minus-network'></li>
  <li class='mdi mdi-mixcloud'></li>
  <li class='mdi mdi-monitor'></li>
  <li class='mdi mdi-monitor-multiple'></li>
  <li class='mdi mdi-more'></li>
  <li class='mdi mdi-motorbike'></li>
  <li class='mdi mdi-mouse'></li>
  <li class='mdi mdi-mouse-off'></li>
  <li class='mdi mdi-mouse-variant'></li>
  <li class='mdi mdi-mouse-variant-off'></li>
  <li class='mdi mdi-move-resize'></li>
  <li class='mdi mdi-move-resize-variant'></li>
  <li class='mdi mdi-movie'></li>
  <li class='mdi mdi-multiplication'></li>
  <li class='mdi mdi-multiplication-box'></li>
  <li class='mdi mdi-music-box'></li>
  <li class='mdi mdi-music-box-outline'></li>
  <li class='mdi mdi-music-circle'></li>
  <li class='mdi mdi-music-note'></li>
  <li class='mdi mdi-music-note-bluetooth'></li>
  <li class='mdi mdi-music-note-bluetooth-off'></li>
  <li class='mdi mdi-music-note-eighth'></li>
  <li class='mdi mdi-music-note-half'></li>
  <li class='mdi mdi-music-note-off'></li>
  <li class='mdi mdi-music-note-quarter'></li>
  <li class='mdi mdi-music-note-sixteenth'></li>
  <li class='mdi mdi-music-note-whole'></li>
  <li class='mdi mdi-nature'></li>
  <li class='mdi mdi-nature-people'></li>
  <li class='mdi mdi-navigation'></li>
  <li class='mdi mdi-near-me'></li>
  <li class='mdi mdi-needle'></li>
  <li class='mdi mdi-nest-protect'></li>
  <li class='mdi mdi-nest-thermostat'></li>
  <li class='mdi mdi-new-box'></li>
  <li class='mdi mdi-newspaper'></li>
  <li class='mdi mdi-nfc'></li>
  <li class='mdi mdi-nfc-tap'></li>
  <li class='mdi mdi-nfc-variant'></li>
  <li class='mdi mdi-nodejs'></li>
  <li class='mdi mdi-note'></li>
  <li class='mdi mdi-note-outline'></li>
  <li class='mdi mdi-note-plus'></li>
  <li class='mdi mdi-note-plus-outline'></li>
  <li class='mdi mdi-note-text'></li>
  <li class='mdi mdi-notification-clear-all'></li>
  <li class='mdi mdi-numeric'></li>
  <li class='mdi mdi-numeric-0-box'></li>
  <li class='mdi mdi-numeric-0-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-0-box-outline'></li>
  <li class='mdi mdi-numeric-1-box'></li>
  <li class='mdi mdi-numeric-1-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-1-box-outline'></li>
  <li class='mdi mdi-numeric-2-box'></li>
  <li class='mdi mdi-numeric-2-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-2-box-outline'></li>
  <li class='mdi mdi-numeric-3-box'></li>
  <li class='mdi mdi-numeric-3-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-3-box-outline'></li>
  <li class='mdi mdi-numeric-4-box'></li>
  <li class='mdi mdi-numeric-4-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-4-box-outline'></li>
  <li class='mdi mdi-numeric-5-box'></li>
  <li class='mdi mdi-numeric-5-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-5-box-outline'></li>
  <li class='mdi mdi-numeric-6-box'></li>
  <li class='mdi mdi-numeric-6-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-6-box-outline'></li>
  <li class='mdi mdi-numeric-7-box'></li>
  <li class='mdi mdi-numeric-7-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-7-box-outline'></li>
  <li class='mdi mdi-numeric-8-box'></li>
  <li class='mdi mdi-numeric-8-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-8-box-outline'></li>
  <li class='mdi mdi-numeric-9-box'></li>
  <li class='mdi mdi-numeric-9-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-9-box-outline'></li>
  <li class='mdi mdi-numeric-9-plus-box'></li>
  <li class='mdi mdi-numeric-9-plus-box-multiple-outline'></li>
  <li class='mdi mdi-numeric-9-plus-box-outline'></li>
  <li class='mdi mdi-nutrition'></li>
  <li class='mdi mdi-octagon'></li>
  <li class='mdi mdi-octagon-outline'></li>
  <li class='mdi mdi-odnoklassniki'></li>
  <li class='mdi mdi-office'></li>
  <li class='mdi mdi-oil'></li>
  <li class='mdi mdi-oil-temperature'></li>
  <li class='mdi mdi-omega'></li>
  <li class='mdi mdi-onedrive'></li>
  <li class='mdi mdi-opacity'></li>
  <li class='mdi mdi-open-in-app'></li>
  <li class='mdi mdi-open-in-new'></li>
  <li class='mdi mdi-openid'></li>
  <li class='mdi mdi-opera'></li>
  <li class='mdi mdi-ornament'></li>
  <li class='mdi mdi-ornament-variant'></li>
  <li class='mdi mdi-outbox'></li>
  <li class='mdi mdi-owl'></li>
  <li class='mdi mdi-package'></li>
  <li class='mdi mdi-package-down'></li>
  <li class='mdi mdi-package-up'></li>
  <li class='mdi mdi-package-variant'></li>
  <li class='mdi mdi-package-variant-closed'></li>
  <li class='mdi mdi-page-first'></li>
  <li class='mdi mdi-page-last'></li>
  <li class='mdi mdi-palette'></li>
  <li class='mdi mdi-palette-advanced'></li>
  <li class='mdi mdi-panda'></li>
  <li class='mdi mdi-pandora'></li>
  <li class='mdi mdi-panorama'></li>
  <li class='mdi mdi-panorama-fisheye'></li>
  <li class='mdi mdi-panorama-horizontal'></li>
  <li class='mdi mdi-panorama-vertical'></li>
  <li class='mdi mdi-panorama-wide-angle'></li>
  <li class='mdi mdi-paper-cut-vertical'></li>
  <li class='mdi mdi-paperclip'></li>
  <li class='mdi mdi-parking'></li>
  <li class='mdi mdi-pause'></li>
  <li class='mdi mdi-pause-circle'></li>
  <li class='mdi mdi-pause-circle-outline'></li>
  <li class='mdi mdi-pause-octagon'></li>
  <li class='mdi mdi-pause-octagon-outline'></li>
  <li class='mdi mdi-paw'></li>
  <li class='mdi mdi-paw-off'></li>
  <li class='mdi mdi-pen'></li>
  <li class='mdi mdi-pencil'></li>
  <li class='mdi mdi-pencil-box'></li>
  <li class='mdi mdi-pencil-box-outline'></li>
  <li class='mdi mdi-pencil-lock'></li>
  <li class='mdi mdi-pencil-off'></li>
  <li class='mdi mdi-percent'></li>
  <li class='mdi mdi-pharmacy'></li>
  <li class='mdi mdi-phone'></li>
  <li class='mdi mdi-phone-bluetooth'></li>
  <li class='mdi mdi-phone-classic'></li>
  <li class='mdi mdi-phone-forward'></li>
  <li class='mdi mdi-phone-hangup'></li>
  <li class='mdi mdi-phone-in-talk'></li>
  <li class='mdi mdi-phone-incoming'></li>
  <li class='mdi mdi-phone-locked'></li>
  <li class='mdi mdi-phone-log'></li>
  <li class='mdi mdi-phone-minus'></li>
  <li class='mdi mdi-phone-missed'></li>
  <li class='mdi mdi-phone-outgoing'></li>
  <li class='mdi mdi-phone-paused'></li>
  <li class='mdi mdi-phone-plus'></li>
  <li class='mdi mdi-phone-settings'></li>
  <li class='mdi mdi-phone-voip'></li>
  <li class='mdi mdi-pi'></li>
  <li class='mdi mdi-pi-box'></li>
  <li class='mdi mdi-pig'></li>
  <li class='mdi mdi-pill'></li>
  <li class='mdi mdi-pin'></li>
  <li class='mdi mdi-pin-off'></li>
  <li class='mdi mdi-pine-tree'></li>
  <li class='mdi mdi-pine-tree-box'></li>
  <li class='mdi mdi-pinterest'></li>
  <li class='mdi mdi-pinterest-box'></li>
  <li class='mdi mdi-pizza'></li>
  <li class='mdi mdi-play'></li>
  <li class='mdi mdi-play-box-outline'></li>
  <li class='mdi mdi-play-circle'></li>
  <li class='mdi mdi-play-circle-outline'></li>
  <li class='mdi mdi-play-pause'></li>
  <li class='mdi mdi-play-protected-content'></li>
  <li class='mdi mdi-playlist-check'></li>
  <li class='mdi mdi-playlist-minus'></li>
  <li class='mdi mdi-playlist-play'></li>
  <li class='mdi mdi-playlist-plus'></li>
  <li class='mdi mdi-playlist-remove'></li>
  <li class='mdi mdi-playstation'></li>
  <li class='mdi mdi-plus'></li>
  <li class='mdi mdi-plus-box'></li>
  <li class='mdi mdi-plus-circle'></li>
  <li class='mdi mdi-plus-circle-multiple-outline'></li>
  <li class='mdi mdi-plus-circle-outline'></li>
  <li class='mdi mdi-plus-network'></li>
  <li class='mdi mdi-plus-one'></li>
  <li class='mdi mdi-pocket'></li>
  <li class='mdi mdi-pokeball'></li>
  <li class='mdi mdi-polaroid'></li>
  <li class='mdi mdi-poll'></li>
  <li class='mdi mdi-poll-box'></li>
  <li class='mdi mdi-polymer'></li>
  <li class='mdi mdi-pool'></li>
  <li class='mdi mdi-popcorn'></li>
  <li class='mdi mdi-pot'></li>
  <li class='mdi mdi-pot-mix'></li>
  <li class='mdi mdi-pound'></li>
  <li class='mdi mdi-pound-box'></li>
  <li class='mdi mdi-power'></li>
  <li class='mdi mdi-power-settings'></li>
  <li class='mdi mdi-power-socket'></li>
  <li class='mdi mdi-presentation'></li>
  <li class='mdi mdi-presentation-play'></li>
  <li class='mdi mdi-printer'></li>
  <li class='mdi mdi-printer-3d'></li>
  <li class='mdi mdi-printer-alert'></li>
  <li class='mdi mdi-priority-high'></li>
  <li class='mdi mdi-priority-low'></li>
  <li class='mdi mdi-professional-hexagon'></li>
  <li class='mdi mdi-projector'></li>
  <li class='mdi mdi-projector-screen'></li>
  <li class='mdi mdi-pulse'></li>
  <li class='mdi mdi-puzzle'></li>
  <li class='mdi mdi-qqchat'></li>
  <li class='mdi mdi-qrcode'></li>
  <li class='mdi mdi-qrcode-scan'></li>
  <li class='mdi mdi-quadcopter'></li>
  <li class='mdi mdi-quality-high'></li>
  <li class='mdi mdi-quicktime'></li>
  <li class='mdi mdi-radar'></li>
  <li class='mdi mdi-radiator'></li>
  <li class='mdi mdi-radio'></li>
  <li class='mdi mdi-radio-handheld'></li>
  <li class='mdi mdi-radio-tower'></li>
  <li class='mdi mdi-radioactive'></li>
  <li class='mdi mdi-radiobox-blank'></li>
  <li class='mdi mdi-radiobox-marked'></li>
  <li class='mdi mdi-raspberrypi'></li>
  <li class='mdi mdi-ray-end'></li>
  <li class='mdi mdi-ray-end-arrow'></li>
  <li class='mdi mdi-ray-start'></li>
  <li class='mdi mdi-ray-start-arrow'></li>
  <li class='mdi mdi-ray-start-end'></li>
  <li class='mdi mdi-ray-vertex'></li>
  <li class='mdi mdi-rdio'></li>
  <li class='mdi mdi-read'></li>
  <li class='mdi mdi-readability'></li>
  <li class='mdi mdi-receipt'></li>
  <li class='mdi mdi-record'></li>
  <li class='mdi mdi-record-rec'></li>
  <li class='mdi mdi-recycle'></li>
  <li class='mdi mdi-reddit'></li>
  <li class='mdi mdi-redo'></li>
  <li class='mdi mdi-redo-variant'></li>
  <li class='mdi mdi-refresh'></li>
  <li class='mdi mdi-regex'></li>
  <li class='mdi mdi-relative-scale'></li>
  <li class='mdi mdi-reload'></li>
  <li class='mdi mdi-remote'></li>
  <li class='mdi mdi-rename-box'></li>
  <li class='mdi mdi-repeat'></li>
  <li class='mdi mdi-repeat-off'></li>
  <li class='mdi mdi-repeat-once'></li>
  <li class='mdi mdi-replay'></li>
  <li class='mdi mdi-reply'></li>
  <li class='mdi mdi-reply-all'></li>
  <li class='mdi mdi-reproduction'></li>
  <li class='mdi mdi-resize-bottom-right'></li>
  <li class='mdi mdi-responsive'></li>
  <li class='mdi mdi-rewind'></li>
  <li class='mdi mdi-ribbon'></li>
  <li class='mdi mdi-road'></li>
  <li class='mdi mdi-road-variant'></li>
  <li class='mdi mdi-rocket'></li>
  <li class='mdi mdi-rotate-3d'></li>
  <li class='mdi mdi-rotate-left'></li>
  <li class='mdi mdi-rotate-left-variant'></li>
  <li class='mdi mdi-rotate-right'></li>
  <li class='mdi mdi-rotate-right-variant'></li>
  <li class='mdi mdi-rounded-corner'></li>
  <li class='mdi mdi-router-wireless'></li>
  <li class='mdi mdi-routes'></li>
  <li class='mdi mdi-rowing'></li>
  <li class='mdi mdi-rss'></li>
  <li class='mdi mdi-rss-box'></li>
  <li class='mdi mdi-ruler'></li>
  <li class='mdi mdi-run'></li>
  <li class='mdi mdi-sale'></li>
  <li class='mdi mdi-satellite'></li>
  <li class='mdi mdi-satellite-variant'></li>
  <li class='mdi mdi-saxophone'></li>
  <li class='mdi mdi-scale'></li>
  <li class='mdi mdi-scale-balance'></li>
  <li class='mdi mdi-scale-bathroom'></li>
  <li class='mdi mdi-school'></li>
  <li class='mdi mdi-screen-rotation'></li>
  <li class='mdi mdi-screen-rotation-lock'></li>
  <li class='mdi mdi-screwdriver'></li>
  <li class='mdi mdi-script'></li>
  <li class='mdi mdi-sd'></li>
  <li class='mdi mdi-seal'></li>
  <li class='mdi mdi-seat-flat'></li>
  <li class='mdi mdi-seat-flat-angled'></li>
  <li class='mdi mdi-seat-individual-suite'></li>
  <li class='mdi mdi-seat-legroom-extra'></li>
  <li class='mdi mdi-seat-legroom-normal'></li>
  <li class='mdi mdi-seat-legroom-reduced'></li>
  <li class='mdi mdi-seat-recline-extra'></li>
  <li class='mdi mdi-seat-recline-normal'></li>
  <li class='mdi mdi-security'></li>
  <li class='mdi mdi-security-network'></li>
  <li class='mdi mdi-select'></li>
  <li class='mdi mdi-select-all'></li>
  <li class='mdi mdi-select-inverse'></li>
  <li class='mdi mdi-select-off'></li>
  <li class='mdi mdi-selection'></li>
  <li class='mdi mdi-send'></li>
  <li class='mdi mdi-serial-port'></li>
  <li class='mdi mdi-server'></li>
  <li class='mdi mdi-server-minus'></li>
  <li class='mdi mdi-server-network'></li>
  <li class='mdi mdi-server-network-off'></li>
  <li class='mdi mdi-server-off'></li>
  <li class='mdi mdi-server-plus'></li>
  <li class='mdi mdi-server-remove'></li>
  <li class='mdi mdi-server-security'></li>
  <li class='mdi mdi-settings'></li>
  <li class='mdi mdi-settings-box'></li>
  <li class='mdi mdi-shape-circle-plus'></li>
  <li class='mdi mdi-shape-plus'></li>
  <li class='mdi mdi-shape-polygon-plus'></li>
  <li class='mdi mdi-shape-rectangle-plus'></li>
  <li class='mdi mdi-shape-square-plus'></li>
  <li class='mdi mdi-share'></li>
  <li class='mdi mdi-share-variant'></li>
  <li class='mdi mdi-shield'></li>
  <li class='mdi mdi-shield-outline'></li>
  <li class='mdi mdi-shopping'></li>
  <li class='mdi mdi-shopping-music'></li>
  <li class='mdi mdi-shredder'></li>
  <li class='mdi mdi-shuffle'></li>
  <li class='mdi mdi-shuffle-disabled'></li>
  <li class='mdi mdi-shuffle-variant'></li>
  <li class='mdi mdi-sigma'></li>
  <li class='mdi mdi-sigma-lower'></li>
  <li class='mdi mdi-sign-caution'></li>
  <li class='mdi mdi-signal'></li>
  <li class='mdi mdi-signal-variant'></li>
  <li class='mdi mdi-silverware'></li>
  <li class='mdi mdi-silverware-fork'></li>
  <li class='mdi mdi-silverware-spoon'></li>
  <li class='mdi mdi-silverware-variant'></li>
  <li class='mdi mdi-sim'></li>
  <li class='mdi mdi-sim-alert'></li>
  <li class='mdi mdi-sim-off'></li>
  <li class='mdi mdi-sitemap'></li>
  <li class='mdi mdi-skip-backward'></li>
  <li class='mdi mdi-skip-forward'></li>
  <li class='mdi mdi-skip-next'></li>
  <li class='mdi mdi-skip-next-circle'></li>
  <li class='mdi mdi-skip-next-circle-outline'></li>
  <li class='mdi mdi-skip-previous'></li>
  <li class='mdi mdi-skip-previous-circle'></li>
  <li class='mdi mdi-skip-previous-circle-outline'></li>
  <li class='mdi mdi-skype'></li>
  <li class='mdi mdi-skype-business'></li>
  <li class='mdi mdi-slack'></li>
  <li class='mdi mdi-sleep'></li>
  <li class='mdi mdi-sleep-off'></li>
  <li class='mdi mdi-smoking'></li>
  <li class='mdi mdi-smoking-off'></li>
  <li class='mdi mdi-snapchat'></li>
  <li class='mdi mdi-snowman'></li>
  <li class='mdi mdi-soccer'></li>
  <li class='mdi mdi-sofa'></li>
  <li class='mdi mdi-sort'></li>
  <li class='mdi mdi-sort-alphabetical'></li>
  <li class='mdi mdi-sort-ascending'></li>
  <li class='mdi mdi-sort-descending'></li>
  <li class='mdi mdi-sort-numeric'></li>
  <li class='mdi mdi-sort-variant'></li>
  <li class='mdi mdi-soundcloud'></li>
  <li class='mdi mdi-source-branch'></li>
  <li class='mdi mdi-source-fork'></li>
  <li class='mdi mdi-source-merge'></li>
  <li class='mdi mdi-source-pull'></li>
  <li class='mdi mdi-speaker'></li>
  <li class='mdi mdi-speaker-off'></li>
  <li class='mdi mdi-speedometer'></li>
  <li class='mdi mdi-spellcheck'></li>
  <li class='mdi mdi-spotify'></li>
  <li class='mdi mdi-spotlight'></li>
  <li class='mdi mdi-spotlight-beam'></li>
  <li class='mdi mdi-spray'></li>
  <li class='mdi mdi-square-inc'></li>
  <li class='mdi mdi-square-inc-cash'></li>
  <li class='mdi mdi-stackexchange'></li>
  <li class='mdi mdi-stackoverflow'></li>
  <li class='mdi mdi-stairs'></li>
  <li class='mdi mdi-star'></li>
  <li class='mdi mdi-star-circle'></li>
  <li class='mdi mdi-star-half'></li>
  <li class='mdi mdi-star-off'></li>
  <li class='mdi mdi-star-outline'></li>
  <li class='mdi mdi-steam'></li>
  <li class='mdi mdi-steering'></li>
  <li class='mdi mdi-step-backward'></li>
  <li class='mdi mdi-step-backward-2'></li>
  <li class='mdi mdi-step-forward'></li>
  <li class='mdi mdi-step-forward-2'></li>
  <li class='mdi mdi-stethoscope'></li>
  <li class='mdi mdi-sticker'></li>
  <li class='mdi mdi-stocking'></li>
  <li class='mdi mdi-stop'></li>
  <li class='mdi mdi-stop-circle'></li>
  <li class='mdi mdi-stop-circle-outline'></li>
  <li class='mdi mdi-store'></li>
  <li class='mdi mdi-store-24-hour'></li>
  <li class='mdi mdi-stove'></li>
  <li class='mdi mdi-subdirectory-arrow-left'></li>
  <li class='mdi mdi-subdirectory-arrow-right'></li>
  <li class='mdi mdi-subway'></li>
  <li class='mdi mdi-sunglasses'></li>
  <li class='mdi mdi-surround-sound'></li>
  <li class='mdi mdi-swap-horizontal'></li>
  <li class='mdi mdi-swap-vertical'></li>
  <li class='mdi mdi-swim'></li>
  <li class='mdi mdi-switch'></li>
  <li class='mdi mdi-sword'></li>
  <li class='mdi mdi-sync'></li>
  <li class='mdi mdi-sync-alert'></li>
  <li class='mdi mdi-sync-off'></li>
  <li class='mdi mdi-tab'></li>
  <li class='mdi mdi-tab-unselected'></li>
  <li class='mdi mdi-table'></li>
  <li class='mdi mdi-table-column-plus-after'></li>
  <li class='mdi mdi-table-column-plus-before'></li>
  <li class='mdi mdi-table-column-remove'></li>
  <li class='mdi mdi-table-column-width'></li>
  <li class='mdi mdi-table-edit'></li>
  <li class='mdi mdi-table-large'></li>
  <li class='mdi mdi-table-row-height'></li>
  <li class='mdi mdi-table-row-plus-after'></li>
  <li class='mdi mdi-table-row-plus-before'></li>
  <li class='mdi mdi-table-row-remove'></li>
  <li class='mdi mdi-tablet'></li>
  <li class='mdi mdi-tablet-android'></li>
  <li class='mdi mdi-tablet-ipad'></li>
  <li class='mdi mdi-tag'></li>
  <li class='mdi mdi-tag-faces'></li>
  <li class='mdi mdi-tag-multiple'></li>
  <li class='mdi mdi-tag-outline'></li>
  <li class='mdi mdi-tag-text-outline'></li>
  <li class='mdi mdi-target'></li>
  <li class='mdi mdi-taxi'></li>
  <li class='mdi mdi-teamviewer'></li>
  <li class='mdi mdi-telegram'></li>
  <li class='mdi mdi-television'></li>
  <li class='mdi mdi-television-guide'></li>
  <li class='mdi mdi-temperature-celsius'></li>
  <li class='mdi mdi-temperature-fahrenheit'></li>
  <li class='mdi mdi-temperature-kelvin'></li>
  <li class='mdi mdi-tennis'></li>
  <li class='mdi mdi-tent'></li>
  <li class='mdi mdi-terrain'></li>
  <li class='mdi mdi-test-tube'></li>
  <li class='mdi mdi-text-shadow'></li>
  <li class='mdi mdi-text-to-speech'></li>
  <li class='mdi mdi-text-to-speech-off'></li>
  <li class='mdi mdi-textbox'></li>
  <li class='mdi mdi-texture'></li>
  <li class='mdi mdi-theater'></li>
  <li class='mdi mdi-theme-light-dark'></li>
  <li class='mdi mdi-thermometer'></li>
  <li class='mdi mdi-thermometer-lines'></li>
  <li class='mdi mdi-thumb-down'></li>
  <li class='mdi mdi-thumb-down-outline'></li>
  <li class='mdi mdi-thumb-up'></li>
  <li class='mdi mdi-thumb-up-outline'></li>
  <li class='mdi mdi-thumbs-up-down'></li>
  <li class='mdi mdi-ticket'></li>
  <li class='mdi mdi-ticket-account'></li>
  <li class='mdi mdi-ticket-confirmation'></li>
  <li class='mdi mdi-tie'></li>
  <li class='mdi mdi-timelapse'></li>
  <li class='mdi mdi-timer'></li>
  <li class='mdi mdi-timer-10'></li>
  <li class='mdi mdi-timer-3'></li>
  <li class='mdi mdi-timer-off'></li>
  <li class='mdi mdi-timer-sand'></li>
  <li class='mdi mdi-timetable'></li>
  <li class='mdi mdi-toggle-switch'></li>
  <li class='mdi mdi-toggle-switch-off'></li>
  <li class='mdi mdi-tooltip'></li>
  <li class='mdi mdi-tooltip-edit'></li>
  <li class='mdi mdi-tooltip-image'></li>
  <li class='mdi mdi-tooltip-outline'></li>
  <li class='mdi mdi-tooltip-outline-plus'></li>
  <li class='mdi mdi-tooltip-text'></li>
  <li class='mdi mdi-tooth'></li>
  <li class='mdi mdi-tor'></li>
  <li class='mdi mdi-traffic-light'></li>
  <li class='mdi mdi-train'></li>
  <li class='mdi mdi-tram'></li>
  <li class='mdi mdi-transcribe'></li>
  <li class='mdi mdi-transcribe-close'></li>
  <li class='mdi mdi-transfer'></li>
  <li class='mdi mdi-translate'></li>
  <li class='mdi mdi-tree'></li>
  <li class='mdi mdi-trello'></li>
  <li class='mdi mdi-trending-down'></li>
  <li class='mdi mdi-trending-neutral'></li>
  <li class='mdi mdi-trending-up'></li>
  <li class='mdi mdi-triangle'></li>
  <li class='mdi mdi-triangle-outline'></li>
  <li class='mdi mdi-trophy'></li>
  <li class='mdi mdi-trophy-award'></li>
  <li class='mdi mdi-trophy-outline'></li>
  <li class='mdi mdi-trophy-variant'></li>
  <li class='mdi mdi-trophy-variant-outline'></li>
  <li class='mdi mdi-truck'></li>
  <li class='mdi mdi-truck-delivery'></li>
  <li class='mdi mdi-tshirt-crew'></li>
  <li class='mdi mdi-tshirt-v'></li>
  <li class='mdi mdi-tumblr'></li>
  <li class='mdi mdi-tumblr-reblog'></li>
  <li class='mdi mdi-tune'></li>
  <li class='mdi mdi-tune-vertical'></li>
  <li class='mdi mdi-twitch'></li>
  <li class='mdi mdi-twitter'></li>
  <li class='mdi mdi-twitter-box'></li>
  <li class='mdi mdi-twitter-circle'></li>
  <li class='mdi mdi-twitter-retweet'></li>
  <li class='mdi mdi-ubuntu'></li>
  <li class='mdi mdi-umbraco'></li>
  <li class='mdi mdi-umbrella'></li>
  <li class='mdi mdi-umbrella-outline'></li>
  <li class='mdi mdi-undo'></li>
  <li class='mdi mdi-undo-variant'></li>
  <li class='mdi mdi-unfold-less'></li>
  <li class='mdi mdi-unfold-more'></li>
  <li class='mdi mdi-ungroup'></li>
  <li class='mdi mdi-untappd'></li>
  <li class='mdi mdi-upload'></li>
  <li class='mdi mdi-usb'></li>
  <li class='mdi mdi-vector-arrange-above'></li>
  <li class='mdi mdi-vector-arrange-below'></li>
  <li class='mdi mdi-vector-circle'></li>
  <li class='mdi mdi-vector-circle-variant'></li>
  <li class='mdi mdi-vector-combine'></li>
  <li class='mdi mdi-vector-curve'></li>
  <li class='mdi mdi-vector-difference'></li>
  <li class='mdi mdi-vector-difference-ab'></li>
  <li class='mdi mdi-vector-difference-ba'></li>
  <li class='mdi mdi-vector-intersection'></li>
  <li class='mdi mdi-vector-line'></li>
  <li class='mdi mdi-vector-point'></li>
  <li class='mdi mdi-vector-polygon'></li>
  <li class='mdi mdi-vector-polyline'></li>
  <li class='mdi mdi-vector-rectangle'></li>
  <li class='mdi mdi-vector-selection'></li>
  <li class='mdi mdi-vector-square'></li>
  <li class='mdi mdi-vector-triangle'></li>
  <li class='mdi mdi-vector-union'></li>
  <li class='mdi mdi-verified'></li>
  <li class='mdi mdi-vibrate'></li>
  <li class='mdi mdi-video'></li>
  <li class='mdi mdi-video-off'></li>
  <li class='mdi mdi-video-switch'></li>
  <li class='mdi mdi-view-agenda'></li>
  <li class='mdi mdi-view-array'></li>
  <li class='mdi mdi-view-carousel'></li>
  <li class='mdi mdi-view-column'></li>
  <li class='mdi mdi-view-dashboard'></li>
  <li class='mdi mdi-view-day'></li>
  <li class='mdi mdi-view-grid'></li>
  <li class='mdi mdi-view-headline'></li>
  <li class='mdi mdi-view-list'></li>
  <li class='mdi mdi-view-module'></li>
  <li class='mdi mdi-view-quilt'></li>
  <li class='mdi mdi-view-stream'></li>
  <li class='mdi mdi-view-week'></li>
  <li class='mdi mdi-vimeo'></li>
  <li class='mdi mdi-vine'></li>
  <li class='mdi mdi-violin'></li>
  <li class='mdi mdi-visualstudio'></li>
  <li class='mdi mdi-vk'></li>
  <li class='mdi mdi-vk-box'></li>
  <li class='mdi mdi-vk-circle'></li>
  <li class='mdi mdi-vlc'></li>
  <li class='mdi mdi-voice'></li>
  <li class='mdi mdi-voicemail'></li>
  <li class='mdi mdi-volume-high'></li>
  <li class='mdi mdi-volume-low'></li>
  <li class='mdi mdi-volume-medium'></li>
  <li class='mdi mdi-volume-off'></li>
  <li class='mdi mdi-vpn'></li>
  <li class='mdi mdi-walk'></li>
  <li class='mdi mdi-wallet'></li>
  <li class='mdi mdi-wallet-giftcard'></li>
  <li class='mdi mdi-wallet-membership'></li>
  <li class='mdi mdi-wallet-travel'></li>
  <li class='mdi mdi-wan'></li>
  <li class='mdi mdi-watch'></li>
  <li class='mdi mdi-watch-export'></li>
  <li class='mdi mdi-watch-import'></li>
  <li class='mdi mdi-water'></li>
  <li class='mdi mdi-water-off'></li>
  <li class='mdi mdi-water-percent'></li>
  <li class='mdi mdi-water-pump'></li>
  <li class='mdi mdi-watermark'></li>
  <li class='mdi mdi-weather-cloudy'></li>
  <li class='mdi mdi-weather-fog'></li>
  <li class='mdi mdi-weather-hail'></li>
  <li class='mdi mdi-weather-lightning'></li>
  <li class='mdi mdi-weather-night'></li>
  <li class='mdi mdi-weather-partlycloudy'></li>
  <li class='mdi mdi-weather-pouring'></li>
  <li class='mdi mdi-weather-rainy'></li>
  <li class='mdi mdi-weather-snowy'></li>
  <li class='mdi mdi-weather-sunny'></li>
  <li class='mdi mdi-weather-sunset'></li>
  <li class='mdi mdi-weather-sunset-down'></li>
  <li class='mdi mdi-weather-sunset-up'></li>
  <li class='mdi mdi-weather-windy'></li>
  <li class='mdi mdi-weather-windy-variant'></li>
  <li class='mdi mdi-web'></li>
  <li class='mdi mdi-webcam'></li>
  <li class='mdi mdi-webhook'></li>
  <li class='mdi mdi-wechat'></li>
  <li class='mdi mdi-weight'></li>
  <li class='mdi mdi-weight-kilogram'></li>
  <li class='mdi mdi-whatsapp'></li>
  <li class='mdi mdi-wheelchair-accessibility'></li>
  <li class='mdi mdi-white-balance-auto'></li>
  <li class='mdi mdi-white-balance-incandescent'></li>
  <li class='mdi mdi-white-balance-iridescent'></li>
  <li class='mdi mdi-white-balance-sunny'></li>
  <li class='mdi mdi-wifi'></li>
  <li class='mdi mdi-wifi-off'></li>
  <li class='mdi mdi-wii'></li>
  <li class='mdi mdi-wikipedia'></li>
  <li class='mdi mdi-window-close'></li>
  <li class='mdi mdi-window-closed'></li>
  <li class='mdi mdi-window-maximize'></li>
  <li class='mdi mdi-window-minimize'></li>
  <li class='mdi mdi-window-open'></li>
  <li class='mdi mdi-window-restore'></li>
  <li class='mdi mdi-windows'></li>
  <li class='mdi mdi-wordpress'></li>
  <li class='mdi mdi-worker'></li>
  <li class='mdi mdi-wrap'></li>
  <li class='mdi mdi-wrench'></li>
  <li class='mdi mdi-wunderlist'></li>
  <li class='mdi mdi-xaml'></li>
  <li class='mdi mdi-xbox'></li>
  <li class='mdi mdi-xbox-controller'></li>
  <li class='mdi mdi-xbox-controller-off'></li>
  <li class='mdi mdi-xda'></li>
  <li class='mdi mdi-xing'></li>
  <li class='mdi mdi-xing-box'></li>
  <li class='mdi mdi-xing-circle'></li>
  <li class='mdi mdi-xml'></li>
  <li class='mdi mdi-yeast'></li>
  <li class='mdi mdi-yelp'></li>
  <li class='mdi mdi-youtube-play'></li>
  <li class='mdi mdi-zip-box'></li>
</ul>