ul(class='nav is-sidenav br-light')
  li(class='nav-item nav-heading') COMPONENTS
  if file === 'card'
    li(class='nav-item is-active')
      a(href='/docs/components/card') Card
  else
    li(class='nav-item')
      a(href='/docs/components/card') Card

  if file === 'message'
    li(class='nav-item is-active')
      a(href='/docs/components/message') Message
  else
    li(class='nav-item')
      a(href='/docs/components/message') Message

  if file === 'modal'
    li(class='nav-item is-active')
      a(href='/docs/components/modal') Modal
  else
    li(class='nav-item')
      a(href='/docs/components/modal') Modal

  if file === 'navigation'
    li(class='nav-item is-active')
      a(href='/docs/components/navigation') Navigation
  else
    li(class='nav-item')
      a(href='/docs/components/navigation') Navigation

  if file === 'tabs'
    li(class='nav-item is-active')
      a(href='/docs/components/tabs') Tabs
  else
    li(class='nav-item')
      a(href='/docs/components/tabs') Tabs
