doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/styles/ionicons.min.css')
    link(rel='stylesheet', href='/assets/styles/app.min.css')
    include ../../highlight.pug
    title= pageTitle
  body
    include ../../header.pug
    div(class='container')
      div(class='columns mtop80 mbottom40')
        div(class='column is-3')
          include ./nav
        div(class='column is-9')
          div(class='content')
            h1(class='title') Form
            h5(class='subtitle') Easily create nicely looking forms with different styles and layouts.
            h2(class='title') Usage
            p.
              To apply this component, add the <code>.form</code> class to a <code>form</code> element. All form control elements are placed side by side within the next row.
            h3(class='title bleft') Example
            <form class="form mtop20">
              <fieldset>
                <legend>Form</legend>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
              </fieldset>
            </form>
            h3(class='title bleft') Markup
            div
              pre
                code(class='language-html').
                  &lt;form class="form"&gt;
                    &lt;fieldset&gt;
                      &lt;legend&gt;Form&lt;/legend&gt;
                      &lt;input type="text" placeholder="Username"&gt;
                      &lt;input type="password" placeholder="Password"&gt;
                    &lt;/fieldset&gt;
                  &lt;/form&gt;

    include ../../footer.pug

    | <script>hljs.initHighlightingOnLoad();</script>
    