ul(class='nav is-sidenav br-light')
  li(class='nav-item nav-heading') Elements
  
  if file === 'box'
    li(class='nav-item is-active')
      a(href='/docs/elements/box') Box
  else
    li(class='nav-item')
      a(href='/docs/elements/box') Box
  
  if file === 'button'
    li(class='nav-item is-active')
      a(href='/docs/elements/button') Button
  else
    li(class='nav-item')
      a(href='/docs/elements/button') Button

  if file === 'close'
    li(class='nav-item is-active')
      a(href='/docs/elements/close') Close
  else
    li(class='nav-item')
      a(href='/docs/elements/close') Close

  if file === 'content'
    li(class='nav-item is-active')
      a(href='/docs/elements/content') Content
  else
    li(class='nav-item')
      a(href='/docs/elements/content') Content

  if file === 'form'
    li(class='nav-item is-active')
      a(href='/docs/elements/content') Form
  else
    li(class='nav-item')
      a(href='/docs/elements/form') Form

  if file === 'icon'
    li(class='nav-item is-active')
      a(href='/docs/elements/icon') Icon
  else
    li(class='nav-item')
      a(href='/docs/elements/icon') Icon

  if file === 'image'
    li(class='nav-item is-active')
      a(href='/docs/elements/image') Image
  else
    li(class='nav-item')
      a(href='/docs/elements/image') Image

  if file === 'alert'
    li(class='nav-item is-active')
      a(href='/docs/elements/alert') Alert
  else
    li(class='nav-item')
      a(href='/docs/elements/alert') Alert

  if file === 'progress'
    li(class='nav-item is-active')
      a(href='/docs/elements/progress') Progress
  else
    li(class='nav-item')
      a(href='/docs/elements/progress') Progress

  if file === 'table'
    li(class='nav-item is-active')
      a(href='/docs/elements/table') Table
  else
    li(class='nav-item')
      a(href='/docs/elements/table') Table

  if file === 'tag'
    li(class='nav-item is-active')
      a(href='/docs/elements/tag') Tag
  else
    li(class='nav-item')
      a(href='/docs/elements/tag') Tag

  if file === 'title'
    li(class='nav-item is-active')
      a(href='/docs/elements/title') Title
  else
    li(class='nav-item')
      a(href='/docs/elements/title') Title
