doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/styles/ionicons.min.css')
    link(rel='stylesheet', href='/assets/styles/app.min.css')
    include ../../highlight.pug
    title= pageTitle
  body
    include ../../header.pug
    div(class='container')
      div(class='columns mtop80 mbottom40')
        div(class='column is-3')
          include ./nav
        div(class='column is-9')
          div(class='content')
            h1(class='title') Table
            p Small tag labels to insert anywhere.
            h3(class='title bleft') Usage
            p To apply this component, add the <code>.tag</code> class to a block element.
            h3(class='title bleft') Example
            div(class='colors')
              span(class='color')
              span(class='color is-red')
              span(class='color is-pink')
              span(class='color is-purple')
              span(class='color is-deep-purple')
              span(class='color is-indigo')
              span(class='color is-blue')
              span(class='color is-light-blue')
              span(class='color is-cyan')
              span(class='color is-teal')
              span(class='color is-green is-active')
              span(class='color is-light-green')
              span(class='color is-lime')
              span(class='color is-yellow')
              span(class='color is-amber')
              span(class='color is-orange')
              span(class='color is-deep-orange')
              span(class='color is-brown')
              span(class='color is-blue-grey')
              span(class='color is-grey')
            div
              button(class='button size-button') is-medium
              button(class='button size-button') is-large
            hr
            div(class='demo')
              div(class='tag is-green') Lorem ipsum
                button(class='close')
                
            h3(class='title bleft') Markup
            pre
              code(class='language-html demo-code mbottom60')

    include ../../footer.pug
    script(src='/assets/scripts/dist/tidy.js')
    script(src='/assets/scripts/dist/tag.min.js')
