footer(class='footer rpia-footer')
  div(class='container has-text-centered')
    p
      a(class='icon is-large', href='https://github.com/jkuri/rpia.io')
        i(class='ion-social-github')
    p v0.3.0
    p(class='mtop20')
      small(class='loc') Developed in sunny Mozirje, Slovenia :-)