doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/styles/ionicons.min.css')
    link(rel='stylesheet', href='/assets/styles/app.min.css')
    include ../../highlight.pug
    title= pageTitle
  body
    include ../../header.pug
    div(class='container')
      div(class='content mtop20 mbottom40')
        h1 Cover
        p An imposing cover to showcase something
        h3(class='title bleft') Example
        div(class='columns mtop20')
          div(class='column')
            h5(class='subtitle') Color
            div(class='colors mbottom10')
              span(class='color')
              span(class='color is-red')
              span(class='color is-pink')
              span(class='color is-purple')
              span(class='color is-deep-purple')
              span(class='color is-indigo')
              span(class='color is-blue')
              span(class='color is-light-blue')
              span(class='color is-cyan')
              span(class='color is-teal')
              span(class='color is-green')
              span(class='color is-light-green')
              span(class='color is-lime')
              span(class='color is-yellow')
              span(class='color is-amber')
              span(class='color is-orange')
              span(class='color is-deep-orange')
              span(class='color is-brown')
              span(class='color is-blue-grey')
              span(class='color is-grey')
          div(class='column')
            h5(class='subtitle') Size
            button(class='button size-button') is-fullheight
            button(class='button size-button is-active') is-medium
            button(class='button size-button') is-large
          div(class='column')
            h5(class='subtitle') Gradient
            button(class='button gradient-button is-active') is-gradient
        hr
        div(class='demo-cover')
          div(class='cover is-green is-gradient is-medium')
            div(class='cover-head')
              div(class='container')
                div(class='navbar has-shadow')
                  div(class='nav-left')
                    a(class='nav-item', href='https://angular.io')
                      span(class='icon')
                        i(class='ion-social-angular')
                  div(class='nav-right')
                    div(class='nav-item') 
                      a(href='https://angular.io') angular.io
            div(class='cover-body')
              div(class='container')
                div(class='content has-text-centered')
                  p
                    span(class='icon is-huge')
                      i(class='ion-social-angular-outline')
                  h1(class='title') One Framework.
                  h3(class='title') Mobile and desktop.
            div(class='cover-foot')
              div(class='container')
                div(class='content has-text-centered')
                  p Code licensed under an MIT-style License.
        h3(class='title bleft') Markup
        pre
          code(class='language-html demo-code mbottom60')

    include ../../footer.pug
    script(src='/assets/scripts/dist/tidy.js')
    script(src='/assets/scripts/dist/cover.min.js')
    